<tr>
	
	<td>:date</td>
	<td class="text-right text-nowrap" style="width:auto;">:total</td>
	<td class="text-right text-nowrap" >:discount</td>
	<td class="text-right text-nowrap" >:paid</td>
	<td class="text-right text-nowrap">:credit</td>
	<td style="white-space: nowrap;">:itemName</td>
	<td style="white-space: nowrap;">:quantity</td>
	<td style="white-space: nowrap;">:mrp Rs</td>
	<td style="white-space: nowrap;">:amount Rs</td>
	<td style="white-space: nowrap;">:id</td>
	<td class="text-right" style="white-space: nowrap;">:previousCredit</td>
	<td class="text-right" style="white-space: nowrap;">:currentCredit</td>
	<td class="text-right" style="white-space: nowrap;">:cc_id/:invoiceNumber/:id</td>
</tr>