						<div class="m-widget4">
							<div class="m-widget4__item" style="width:100%">
								<!-- <div class="m-widget4__ext">
										<span class="m-widget4__icon m--font-brand">
											<i class="flaticon-user-ok"></i>
										</span>
									</div> -->
									<div class="m-widget4__info" style="width:30%">
										<span class="m-widget4__title text-nowrap" >
											:customerName
										</span>
										
										<br>
										<span class="m-widget4__text text-nowrap">
											:mobile
										</span><br>
										<span class="text-nowrap">
											Paid :paidAmount Rs
										</span><br>
										<span class="text-nowrap">
											Credit :pendingAmount Rs
										</span>
									</div>

								<!--  <div class="m-widget4__ext"   align="right">
										<span class="m-badge :class m-badge--wide" id=":cc_id_status">:status</span>
											<a href="#" class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only" style="margin-left: 15px;" data-toggle="modal" data-target="#m_modal_5">
												</a>-->	
									<!-- <div class="m-widget4__ext"  style="width:60%" align="right"> -->
									<div class="m-widget4__ext"  style="width:48%" align="right">
										<span class="m-badge :class m-badge--wide" id=":cc_id_status">:status</span>
											<!-- <a href="#" class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only" id=":cc_id_transactions" onclick="loadCustomerTransactions(this)">
												<i class="la flaticon-time"></i>
											</a>
												 	<a href="#" class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only" style="margin-left: 15px;" data-toggle="modal" data-target="#m_modal_5" id=":cc_id" onclick="saveCc(this);">
															<i class="la flaticon-plus"></i>
													</a> -->
											<a href="#" class="btn btn-secondary m-btn btn-sm m-btn--icon m-btn--icon-only" id=":cc_id" 
												onclick="varCheckId = false;customerTransactionId = null;showCreditItems(this);onScrollValue = false;if(window.sessionStorage.getItem('previewItems')!= undefined && window.sessionStorage.getItem('previewItems')!= null && window.sessionStorage.getItem('previewItems')!= ''){ window.sessionStorage.removeItem('previewItems');window.sessionStorage.removeItem('updateInvoiceTransactions')}">
												<i class="la flaticon-plus"></i>
											</a>
											<!-- <a href="#" class="btn btn-secondary m-btn btn-sm m-btn--icon m-btn--icon-only" id="edit_:cc_id" data-toggle="modal" data-target="#m_modal_12"  onclick="">
												<i class="fa flaticon-edit"></i>
											</a>
											<a href="#" class="btn btn-danger m-btn btn-sm m-btn--icon m-btn--icon-only" id="delete_:cc_id" onclick="deleteCreditCustomer(this);">
												<i class="fa flaticon-delete"></i>
											</a> -->
											 
											
										
								<!-- <div class="dropdown"> -->
																	<!-- <button class="btn btn-accent dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																		Lineawesome
																	</button> -->
																	
																	
																	<a href="#" class="m-portlet__nav-link btn m-btn m-btn--outline-2x m-btn--air m-btn--icon btn btn-secondary m-btn btn-sm m-btn--icon m-btn--icon-only" id="dropdownMenuButton" data-toggle="dropdown">
										<i class="la la-plus m--hide"></i>
										<i class="la la-ellipsis-h"></i>
									</a>
																	
																	
																	<div class="dropdown-menu show_1" aria-labelledby="dropdownMenuButton" x-placement="bottom-start"  style="position: fixed; width:30%;will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
																		
																		
																		<!-- <a class="dropdown-item" href="#"><i class="la la-bell"></i> Action</a>
																		<a class="dropdown-item" href="#"><i class="la la-cloud-upload"></i> Another action</a>
																		<a class="dropdown-item" href="#"><i class="la la-cog"></i> Something else</a> -->
																		
																		<div class="m-dropdown__wrapper" style="z-index: 101;">
										<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 21.5px;"></span>
										<div class="m-dropdown__inner">
											<div class="m-dropdown__body">
												<div class="m-dropdown__content ml-2">
													<ul class="m-nav">
														<li class="m-nav__section m-nav__section--first m--hide">
															<span class="m-nav__section-text">Quick Actions</span>
														</li>
														
														<li class="m-nav__item" id=":cc_id_transactions" onclick="loadCustomerTransactions(this.id)">
															<a href="#" class="m-nav__link" >
																<i class="m-nav__link-icon la flaticon-time"></i>
																<span class="m-nav__link-text">Transactions</span>
															</a> 
														</li>
														<li class="m-nav__item" id="edit_:cc_id" data-toggle="modal" data-target="#m_modal_12" onclick="editCustomer(this)">
															<a href="#" class="m-nav__link">
																<i class="m-nav__link-icon fa flaticon-edit"></i>
																<span class="m-nav__link-text">Edit</span>
															</a>
														</li>
														<li class="m-nav__item" id="delete_:cc_id" onclick="deleteCreditCustomer(this);">
															<a href="#" class="m-nav__link">
																<i class="m-nav__link-icon fa flaticon-delete"></i>
																<span class="m-nav__link-text">Delete</span>
															</a>
														
													</ul>
												</div>
											</div>
										</div>
									</div>
																		
																		
																		
																		
																		
																		
																		
																		
																		
																		
																	</div>
																<!-- </div> -->
											
									</div>	
							<!-- 	</div> -->
							</div>
							</div>
						
						