	<!--begin:Timeline 1-->
	<div class="m-timeline-1__items col-lg-12">
		<div class="m-timeline-1__marker"></div>
			<div class="m-timeline-1__item m-timeline-1__item--left m-timeline-1__item--first">
				<div class="m-timeline-1__item-circle mt-3">
					<div class="m--bg-danger"></div>
				</div>
				<div class="m-timeline-1__item-arrow mt-3"></div>
					<span class="m-timeline-1__item-time m--font-brand " style="width:100%">:dateTime - <span class="m--font-danger transaction_type">:transactionType</span>
					
					
					</span>
						<!-- <span class="m-timeline-1__item-time " style="width:100%">:dateTime - 
							<span class="m--font-primary">:transactionType </span> -
							<span class="m--font-primary customer_name"> :customerName</span>
						
						</span> -->
						<span class="m-timeline-1__item-time " style="width:100%">:dateTime - 
							<span class="m--font-primary">:transactionType </span> 
							<!-- <span class="m--font-primary customer_name"> :customerName</span> -->
						
						</span>
						<div style="width:100%">
							<span class="m--font-primary customer_name ml-2" style="font-weight: 600;"> :customerName</span>
						</div>
						
							<div class="m-timeline-1__item-content" style="padding-right: 2px;margin-right: -40px;">
    																										
								<div class="m-timeline-1__item-title  item_title m--font-primary">
									:itemName
								</div>
								<!--<div class="m-timeline-1__item-title m--font-primary m--margin-top-5">
									:transactionType
								</div>-->
								<div class="m-timeline-1__item-body" style="margin-top:5px">
									<table style="width: 100%">
										<tr>
											<td style="width: 40%">
												<div class=" m--margin-top-5">
													Quantity : <span class="m-timeline-1__item-title m--font-primary">:transactionQty </span>
												</div>
											</td>
											<td style="width: 60%">
												<div class="  m--margin-top-5">
													:costOrPrice per :uom : <span class="m-timeline-1__item-title m--font-primary">:txnVal Rs</span>
												</div> 
											</td>				
										</tr>
										<tr>					
											<td style="width: 100%" align="left" colspan="2">
												<div class="m-timeline-1__item-title m--margin-top-5">
													Total: <span class=" m--font-primary">:txnAmount Rs</span>
												</div>
											</td>				
										</tr>
									</table>
								</div>
							</div>
			</div>
	</div>
	<!--End:Timeline 1-->
										