	<!--begin:Timeline 1-->
		<div class="m-timeline-1__items">
			<div class="m-timeline-1__marker"></div>
				<div class="m-timeline-1__item m-timeline-1__item--left m-timeline-1__item--first">
					<div class="m-timeline-1__item-circle">
						<div class="m--bg-danger"></div>
					</div>
					<div class="m-timeline-1__item-arrow"></div>
						<span class="m-timeline-1__item-time " style="width:100%">:dateTime  - <span class="m--font-primary transaction_type">:transactionType</span></span>
							<div class="m-timeline-1__item-content" style="margin-right: -40px;padding-right: 2px;">
								<div class="m-timeline-1__item-title m--font-primary item_title">
									:itemName
								</div>
								<!--<div class="m-timeline-1__item-title m--font-primary m--margin-top-5">
									:transactionType
								</div>-->
								<div class="m-timeline-1__item-body" style="margin-top:5px">
									<table style="width: 100%">
										<tr>
											<td colspan="4">
												<div class="m-timeline-1__item-title m--margin-top-5">
													Purchase Price
												</div>
											</td>						
										</tr>
										<tr>								
											<td>							
												Previous :
											</td>
											<td>						
												<span class="m-timeline-1__item-title m--font-primary">:itemPurchaseCost Rs</span>
											</td>
											<td>
												New :
											</td>
											<td>
												<span class="m-timeline-1__item-title m--font-primary">:newPurchaseCost Rs</span>
											</td>
										</tr>							
										<tr>
											<td colspan="4">
												<div class="m-timeline-1__item-title m--margin-top-5">
													Selling Cost
												</div>
											</td>
										</tr>
										<tr>
											<td>
												Previous :
											</td>
											<td>
												<span class="m-timeline-1__item-title m--font-primary">:itemSoldCost Rs</span>
											</td>
											<td>
												New :
											</td>
											<td>
												<span class="m-timeline-1__item-title m--font-primary">:newSoldCost Rs</span>
											</td>
										</tr>
									</table>
								</div>
							</div>
				</div>
		</div>				
		<!--End:Timeline 1-->