	<div class="m-widget5__item :itemName ">
		<div class="m-widget5__content onhand_items ">
			<div class="m-widget5__pic" onclick="">
				<img class="m-widget7__img" src=":imageName" alt="" onclick="$('img').zoomify()" style="z-index:10;" height="67">
				<!--<img class="m-widget7__img" src="assets/app/media/img/products/FortuneSunliteRefinedSunflowerOil pouch.jpeg" alt=""> -->
				</div>
				<div class="m-widget5__section">
					<h4 class="m-widget5__title ">
						:itemName
					</h4>
					<span class="m-widget5__desc">
						:itemDescription
					</span>
					<div class="m-widget5__info">
						<!--<span class="m-widget5__author">
							UOM:
						</span>
						<span class="m-widget5__info-author m--font-info">
							:uom
						</span>-->
						<!--<span class="m-widget5__author">
							Buy :
						</span>
						<span class="m-widget5__info-author m--font-info">
							:buyPrice Rs
						</span> -->								
						<!--<span class="m-widget5__info-label">
							MRP :
						</span>
						<span class="m-widget5__info-author m--font-info">
							:sellingPrice Rs
						</span>-->	
														
					</div>
				</div>
			</div>
			<div class="m-widget5__content " style="width:100%;display: contents;" align="right">
				<div class="m-widget5__stats1 pull-left col-lg-3  " style="width: 25%;">
					<span class="m-widget5__number text-nowrap" style="font-size:15px">:uom</span><br>
					<span class="m-widget5__sales">UOM</span>
				</div>
				<div class="m-widget5__stats2 pull-left col-lg-3  " style="width: 22%;">
					<span class="m-widget5__number text-nowrap" style="font-size:15px">:quantity</span><br>
					<span class="m-widget5__sales">Quantity</span>
				</div>									
				<div class="m-widget5__stats2 pull-left col-lg-3  " style="width:25%">
					<span class="m-widget5__number text-nowrap" style="font-size:15px">:sellingPrice Rs</span><!-- <span>Rs</span> --><br>
					<span class="m-widget5__sales">MRP</span>
				</div>
				<div class="m-widget5__stats1 pull-left col-lg-3 " style="width:28%">
					<span class="m-widget5__number text-nowrap" style="font-size:15px">:amount Rs</span><!-- <span>Rs</span> --><br>
					<span class="m-widget5__sales m--font-info stockValue text-nowrap" style="font-weight: bold;" data-toggle="m-tooltip" data-placement="left" title="MRP * Quantity">Stock Value</span>
				</div>
				<!--<div class="m-widget5__stats2">
					 <span class="m-widget5__number">:amount Rs</span><br>
					 <span class="m-widget5__votes"> Value</span>
				</div>-->
				<div class="m-widget4__ext  pull-right">
							<!-- 	<span type="button" class=" quantity_:value" data-container="body" data-toggle="m-popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span> -->
								<button type="button" class=" quantity_:value" data-container="body" data-toggle="m-popover" data-placement="left" data-content="Quantity is low" >
								<span><i class="symbol"></i></span>
								</button>
							</div>	
			</div>
	</div>
												