				
  <tr id=":itemId_list">
	<td align="left" class="text-nowrap">:itemName</td>
	<!-- <td align="right">:quantity</td> -->
	<!-- <td align="right">:mrp </td> -->
	<td align="right"><span><input class="form-control input-group input-group-sm text-right :itemId_manage_value" style="width: 71px;height: 35px;" type="text" value= ":quantity" id=":itemId_qty" onkeyup = "invoiceChanges(this)"
		oninput='var reg = new RegExp("^[0-9]{1,9}([,.][0-9]{1,9})?$");var check = !reg.test(this.value);if(:totalAvailabeQunatity<this.value || this.value == 0 || check){  if(this.value == 0 || check)$("#:itemId__error_value").text("Please Enter Qty"); else $("#:itemId__error_value").text("Available Qty. :totalAvailabeQunatity");this.value = "";$("#:itemId__error_value").show();$(".:itemId_manage_value").addClass("quatity_alert");}else { $(".:itemId_manage_value").removeClass("quatity_alert");$("#:itemId__error_value").hide();} '/>
		<span id=":itemId__error_value" style="display:none;color: red;font-size: 9px;" class="form-control-feedback :itemId_error_value text-nowrap invoice_alert"></span>
		</span>
	</td>
	<td align="right"><span><input class="form-control input-group input-group-sm text-right" style="width: 71px;height: 35px;" type="text" value= ":mrp" id=":itemId_mrp" onkeyup = "invoiceChanges(this)" 
	oninput = 'var reg = new RegExp("^[0-9]{1,9}([,.][0-9]{1,9})?$");var check = !reg.test(parseInt(this.value));if(this.value == "" || check ){ $("#:itemId__error_mrp").text("Please Enter MRP");$("#:itemId__error_mrp").show(); $("#:itemId_mrp").addClass("quatity_alert");} else { $("#:itemId__error_mrp").hide();$("#:itemId_mrp").removeClass("quatity_alert"); }'/>
	<span id=":itemId__error_mrp" style="display:none;color: red;font-size: 9px;" class="form-control-feedback :itemId_error_mrp text-nowrap invoice_alert"></span>
	
	
	
	</span></td>
	<td align="right" id=":itemId_amount" class="amount">:amount</td>
	<td align="right" id=":itemId" onclick="deleteInvoiceItem(this,:customerItemDel)"><i class="fa flaticon-delete" style="color: blueviolet;"></i></td>
	<!-- <td align="right" class="delete-item" ><span><i class="flaticon-delete "></i></span></td>  -->
</tr>  
			
  	 			