					
					<div id="position_form_:offset">
					<div class="m-widget5__item :itemName centered_1 position_:itemId" style="padding:0px;margin:0px;width:100%;" id=":itemId">
						<div class="m-widget5__content " align="left">
							<div class="m-widget5__pic ">
							 	<img class="m-widget7__img" src=":imageName"  onclick="$('img').zoomify()" alt="" height="67">
							</div>
							<div class="m-widget5__section">
								<h4 class="m-widget5__title">
									:itemName
								</h4>
								<span class="m-widget5__desc">
									:itemDescription
								</span>
								<div class="m-widget5__info">		
									<span class="m-widget5__info-author m--font-info purchase">
										<div class="form-group m-form__group row" style="padding-bottom: 30px;">
											<label for="example-number-input" class="col-2 col-form-label">Price</label>
											<div class="col-4 " style="padding-right:2px;">
												<input class="form-control m-input form-input-buy shop-attributes buy_quatity" type="number" value=":buyPrice" id=":itemId_buy" step=".01" style="width:120px" onkeyup="onManageUpdate(this)"> 
											</div>
											<label for="example-number-input" class="col-2 col-form-label" style="padding-left:70px;">Rs</label>
										</div>
									</span>					
									<span class="m-widget5__info-author m--font-info sell" >
										<div class="form-group m-form__group row" style="padding-bottom: 30px;">
											<label for="example-number-input" class="col-2 col-form-label">MRP</label>
											<div class="col-4" style="padding-right:2px;">
												<input class="form-control m-input form-input-sell shop-attributes buy_quatity" type="number" value=":sellingPrice" id=":itemId_sell" step=".01" style="width:120px" onkeyup="onManageUpdate(this)"> 
											</div>
											<label for="example-number-input" class="col-2 col-form-label" style="padding-left:70px;">Rs</label>
										</div>				
									</span>			
									<span class="m-widget5__info-author m--font-info cc_mrp" style="display:none;">
										<div class="form-group m-form__group row">
											<label for="example-number-input" class="col-2 col-form-label">MRP</label>
											<div class="col-4" style="padding-right:2px;">
												<input class="form-control m-input form-input shop-attributes buy_quatity " type="number" value=":sellingPrice"  step=".01" style="width:120px" id="mrp_change_:itemId"> 
											</div>
											<label for="example-number-input" class="col-2 col-form-label" style="padding-left:70px;">Rs</label>
										</div>
										<div class="form-group m-form__group row">
											<label for="example-number-input" class="col-2 col-form-label m-widget5__author">Quantity:</label>
											<div class="col-4" style="padding: 10px; margin-left: 30px;">
												<span class="m-widget5__info-author m--font-info ">:quantity</span>
											</div>
											<!-- <label for="example-number-input" class="col-2 col-form-label" style="padding-left:70px;">Rs</label> -->
										</div>
									</span>	 
								</div>
						</div>
					
					
					
					
					
					
					</div>
					<!--  <form class="form-inline customer_quantity customer_quantity_align style_for_quantity "  >
						<div class="form-group m-form__group " >
							<div id="width_changes_:itemId"  >
								<span class="m-widget5__sales"><input id=":itemId" type="number" class="form-control m_touchspin qunatity :itemId" value="" name="demo1" placeholder=":uom" pattern="[\d\.]*" step="0.01"></span><br>
						 	</div>
							 <div class="qunatity_gram"  id="qunatity_gram_:formId"  > 
								<span class="m-widget5__sales"><input  type="number" id="form_:formId" class="form-control m_touchspin_1 qunatity  :itemId for_auto" value="" name="demo2" placeholder=":gram" ></span><br>
							 </div>
						</div>
					</form>  -->
					<form class="form-inline customer_quantity customer_quantity_align style_for_quantity col-14 width_ch gg"  >
							<div id="width_changes_:itemId" class="desktop_width">
								<span class="m-widget5__sales"><input id=":itemId" type="number" class="form-control m_touchspin qunatity :itemId buy_quatity scroll_:itemId" value="" 
								name=":itemId" placeholder=":uom" pattern="[\d\.]*" step="0.01" oninput="if(:quantity<this.value){this.value = :quantity};"></span><br>
						 	</div>&nbsp;&nbsp;
							 <div class="qunatity_gram_:itemId"  id="qunatity_gram_:formId"  style="width:43%;text-align: center;"> 
								<span class="m-widget5__sales"><input  type="number" id="form_:formId" 
								class="form-control m_touchspin_1 qunatity buy_quatity gram_:itemId for_auto :itemId focuschange" 
								value="" name=":itemId" placeholder=":gram" onchange= "previewCreditItems(this.name)"></span><br>
							 </div>
							  <div> 
								<button type="button" class="btn btn-primary scaner scanButtonFocus" style="display:none">Scan</button><br>
							 </div>
					</form>
					<div class="m-widget5__content manage_quantity" style="width: 100%;display: flex;margin-bottom: 5px" >
						 <div style="width:35%;"><span class="badge badge-primary" id=":itemId_auto_value"style="padding: 14px;font-size: 12px"></span></div>
						<div style="width:65%;">						
							<input type="text" id=":itemId" class="form-control m_touchspin buy_quatity qunatity :itemId_manage_value" value="" 
							name="demo1" placeholder="Add Quantity" pattern="[\d\.]*" step="0.01" onkeyup="onManageUpdate(this)" onchange="onManageUpdate(this)" 
							
							oninput="if(:sellOption){if(:quantity<this.value){  $('#:itemId__error_value').show();$('#save').prop( 'disabled', true );$('.:itemId_manage_value').addClass('quatity_alert');}
							else { $('.:itemId_manage_value').removeClass('quatity_alert');
							$('#:itemId__error_value').hide();$('#save').prop( 'disabled', false );}};">
							
							<div id=":itemId__error_value" style="display:none;color: red;" class="form-control-feedback :itemId_error_value sell_alert"><small>Enter quantity less than or equal to :quantity</small></div>
						</div>		
					</div> 
				</div>
			</div>
													
														
												