					
					<div class="m-widget5__item :itemName" style="padding: 0px;margin: 0px;" id=":itemId">
						<div class="m-widget5__content " style="width:100%" align="left">
							<div class="m-widget5__pic ">
							 	<img class="m-widget7__img" src=":imageName"  onclick="$('img').zoomify()" alt="" height="67"> 
						<!--  	<a href="#" data-toggle="m-popover" title="Popover Header" data-html="true" data-content="<img src='itemImages/:imageName' height='100' />">
							<img src=':imageName'  height='67' style="z-index:10" /></a>-->
							</div>
							<div class="m-widget5__section">
								<h4 class="m-widget5__title">
									:itemName
								</h4>
								<span class="m-widget5__desc">
									:itemDescription
								</span>
								<div class="m-widget5__info">
																	<!-- <span class="m-widget5__author">
																		UOM:
																	</span>
																	<span class="m-widget5__info-author m--font-info">
																		:uom
																	</span> -->
																	<!-- <span class="m-widget5__author purchase">
																		Buy :
																	</span> -->
									<span class="m-widget5__info-author m--font-info purchase">
										<!-- <input class="form-control m-input" type="number" value=":buyPrice" id="example-number-input"> Rs -->
											<div class="form-group m-form__group row">
												<label for="example-number-input" class="col-2 col-form-label">Buy</label>
													<div class="col-4 " style="padding-right:2px;">
														<input class="form-control m-input form-input-buy shop-attributes" type="number" value=":buyPrice" id=":itemId_buy" step=".01" style="width:120px" > 
													</div>
												<label for="example-number-input" class="col-2 col-form-label" style="padding-left:70px;">Rs</label>
											</div>
									</span>					
									<span class="m-widget5__info-author m--font-info sell">
											<div class="form-group m-form__group row">
												<label for="example-number-input" class="col-2 col-form-label">MRP</label>
													<div class="col-4" style="padding-right:2px;">
														<input class="form-control m-input form-input-sell shop-attributes" type="number" value=":sellingPrice" id=":itemId_sell" step=".01" style="width:120px"> 
													</div>
												<label for="example-number-input" class="col-2 col-form-label" style="padding-left:70px;">Rs</label>
											</div>				
									</span>					
									<span class="m-widget5__info-author m--font-info cc_mrp" style="display:none;">
										<div class="form-group m-form__group row">
											<label for="example-number-input" class="col-2 m-widget5__author">MRP:</label>
												<!--<div class="col-4 m-widget5__info-author m--font-info" style="margin-left:8px;margin-top:10px"> -->
													<!-- <input class="form-control m-input form-input-sell shop-attributes" type="number" value=":sellingPrice" id=":itemId_sell" step=".01" > -->	 
														<!--  		:sellingPrice Rs
													</div>-->
												<span class="m-widget5__info-author m--font-info"style="margin-left:10px">
													:sellingPrice Rs
												</span>	
												
												<label for="example-number-input" class="m-widget5__author" style="margin-left:10px">Quantity :</label>
												<!--<div class="col-4 m-widget5__info-author m--font-info" style="margin-left:8px;margin-top:10px"> -->
													<!-- <input class="form-control m-input form-input-sell shop-attributes" type="number" value=":sellingPrice" id=":itemId_sell" step=".01" > -->	 
														<!--  		:sellingPrice Rs
													</div>-->
												<span class="m-widget5__info-author m--font-info"style="margin-left:10px">
													:quantity
												</span>			
												<!--<label for="example-number-input" class="col-2 col-form-label" style="padding-left:0px;">Rs</label>-->
										</div>	
															
									</span>	
									
								</div>
							</div>
								<!-- <div class="m-widget5__section" style="width: 60%">
									<span class="m-widget5__sales">New Quantity <input id="m_touchspin_2_1" type="text" class="form-control m_touchspin" value="0" name="demo1" placeholder="Select time" type="text"></span><br>
								</div> -->
						</div>
						<div class="m-widget5__content" style="width:50%" align="center">
							<div>						
								<span class="m-widget5__sales"><input id=":itemId" type="number" class="form-control m_touchspin kgqunatity" value="" name="demo1" placeholder=":UOM" pattern="[\d\.]*" step="0.01"></span>
								<span class="m-widget5__sales"><input id=":itemId" type="number" class="form-control m_touchspin mgqunatity" value="" name="demo2" placeholder=":miniUOM" pattern="[\d\.]*" step="0.01"></span><br>
							</div>
										
						</div>
						  
						 
					</div>
													
														
												