	<div class="m-widget5__item :itemName">
		<div class="m-widget5__content onhand_items">
			<div class="m-widget5__pic ">
				<img class="m-widget7__img" src=":imageName" onclick="$('img').zoomify()" alt="" height="67">
			</div>
			<div class="m-widget5__section">
				<h4 class="m-widget5__title">
					:itemName
				</h4>
				<span class="m-widget5__desc">
					:itemDescription
				</span>
				<div class="m-widget5__info">
					<!--<span class="m-widget5__author">
						UOM:
					</span>
					<span class="m-widget5__info-author m--font-info">
						:uom
					</span> -->
					<!--<span class="m-widget5__author">
						Buy :
					</span>
					<span class="m-widget5__info-author m--font-info">
						:buyPrice Rs
					</span>
					<span class="m-widget5__info-label">
						Sell:
					</span>
					<span class="m-widget5__info-author m--font-info">
						:sellingPrice Rs
					</span>-->										
				</div>
			</div>
		</div>
		<div class="m-widget5__content" style="width:100%" >
			<div class="m-widget5__stats1 col-lg-3" style="width: 27%;">
				<span class="m-widget5__number " style="font-size:15px">:buyPrice</span><span>Rs</span><br>
				<span class="m-widget5__sales">Price</span>
			</div>
			<div class="m-widget5__stats1 col-lg-3" style="width: 25%;">
				<span class="m-widget5__number" style="font-size:15px">:uom</span><br>
				<span class="m-widget5__sales">UOM</span>
				
			</div>
			<div class="m-widget5__stats1 col-lg-3" style="width: 27%;">
				<span class="m-widget5__number" style="font-size:15px">:sellingPrice</span><span>Rs</span><br>
				<span class="m-widget5__sales">MRP</span>
			</div>
			
			<!--<div class="m-widget5__stats2" style="width:25%">
				<span class="m-widget5__number">:quantity</span><br>
				<span class="m-widget5__sales">Quantity</span>
			</div>-->
			<!--<div class="m-widget5__stats2" style="width:25%">
				<span class="m-widget5__number">:amount Rs</span><br>
				<span class="m-widget5__votes"> Value</span>
			</div>-->									 
			<div class="m-widget5__stats2 row" style="width:10%">
				<button type="button" class="btn btn-secondary m-btn m-btn--icon btn-sm m-btn--icon-only" data-toggle="modal" data-target="#m_modal_5" id=":itemId" onclick="editItem(this)"><i class="la la-edit"></i></button>
			</div>
			<div class="m-widget5__stats2 row" style="width:18%">
				<button type="button" class="btn btn-danger m-btn m-btn--icon btn-sm m-btn--icon-only" data-toggle="modal" data-target="" id="delete_:itemId" onclick="deleteItem(this)"><i class="fa flaticon-delete"></i></button>
			</div>
		</div>
	</div>										
	
	
												