<div id="item">
	<div class="m-widget5__item :itemName" id=":itemId"  onclick="selectItem(this)">
		<div class="m-widget5__content " style="width:100%;">
			<div class="m-widget5__pic ">
				<img class="m-widget7__img " src=":imageName" onclick="$('img').zoomify()" alt="" height="67">
			</div>
			<div class="m-widget5__section pl-3 pl-lg-4" >
				<h4 class="m-widget5__title text-nowrap">
					:itemName
					
				</h4>
				<span class="m-widget5__author">
					Quantity:	
					<span class="m-widget5__info-author m--font-info text-nowrap">
						:quantity
					</span>
				</span>
				<div class="m-widget5__info">
					<!--<span class="m-widget5__author">
						UOM:
					</span>
					<span class="m-widget5__info-author m--font-info">
						:uom
					</span>-->
					<span class="m-widget5__author">
						Price :
					</span>
					<span class="m-widget5__info-author m--font-info text-nowrap">
						:buyPrice Rs
					</span>
					<span class="m-widget5__info-label">
						MRP :
					</span>
					<span class="m-widget5__info-author m--font-info text-nowrap">
						:sellingPrice Rs
					</span>											
				</div>
				
				
				
			</div>
			<div class="m-widget4__ext  pull-right">
			<!-- 	<span type="button" class=" quantity_:value" data-container="body" data-toggle="m-popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span> -->
				<button type="button" class=" quantity_:value" data-container="body" data-toggle="m-popover" data-placement="left" data-content="Quantity is low" >
				<span><i class="symbol"></i></span>
				</button>
			</div>	
		</div>
		<!--<div class="m-widget5__content" style="width:98%" align="right">
				<div class="m-widget5__stats1">
					<span class="m-widget5__number">:uom</span><br>
					<span class="m-widget5__sales">UOM</span>
				</div>
				<div class="m-widget5__stats2">
					<span class="m-widget5__number">:quantity</span><br>
					<span class="m-widget5__sales">Quantity</span>
				</div>
				<div class="m-widget5__stats2">
					<span class="m-widget5__number">:amount</span><br>
					<span class="m-widget5__votes"> Value</span>
				</div>									
				<div class="m-widget5__stats2">
					<button type="button" class="btn btn-brand m-btn m-btn--icon btn-sm m-btn--icon-only" data-toggle="modal" data-target="#m_modal_5" id=":itemId" onclick="editItem(this)"><i class="la la-edit"></i></button>
				</div>
			</div>-->
	</div>
													
</div>													
						

						
												