#loaderDiv {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:#A0A0A0;
    opacity: .8;
}

.ajax-loader {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -35px;
    margin-top: -50px;  
    display: block;     
}

