
				<div class="m-portlet m-portlet--last m-portlet--head-lg m-portlet--responsive-mobile m-portlet--head-solid-bg " id="main_portlet" style="padding: 5px;">
						
							
							<div class="alert alert-danger alert-dismissible fade show m-alert m-alert--air" role="alert" style="display:none;">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
									<h6>Sorry unable to Clear the pending amount.</h6>
							</div>
							<div class="header_stick" style="background-color: white;z-index:10;">
						<div class="m-portlet__head" style="padding: 0px;margin: 0px;">
							<div class="m-portlet__head-progress">
								<!-- here can place a progress bar-->
							</div>
							<div class="m-portlet__head-wrapper">
								<div class="m-portlet__head-caption hiddencontent"  style="width: 100%">
									<div class="m-portlet__head-title" style="width: 50%">
										<a href="#" onclick="loadHome()" class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only" style="margin-right: 15px">
											<i class="la la-home"></i>
										</a>	
										<h3 class="m-portlet__head-text">Customers</h3>
									</div>
									<div class="dropdown dropright " align="right" style="width: 50%;padding-right:1px;">
										<button class="btn btn--sm m-btn--pill btn-secondary m-btn m-btn--label-brand" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Sort By <i class ="la la-sort"></i>
										</button>
										<div class="dropdown-menu width-changes" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);z-index:20">
											<a class="dropdown-item" href="#" data-toggle="m-tooltip" title="" data-placement="right" data-skin="dark" data-container="body" id="cc_1" onclick ="AtoZ(this)">
												<i class="m-nav__link-icon fa fa-arrow-down"></i>
													<span class="m-nav__link-text">Customer (A to Z)</span>
											</a>
											<a class="dropdown-item" href="#" data-toggle="m-tooltip" title="" data-placement="right" data-skin="dark" data-container="body" id="cc_2" onclick ="ZtoA(this)">
												<i class="m-nav__link-icon fa fa-arrow-up"></i>
													<span class="m-nav__link-text">Customer (Z to A)</span>
											</a>
											<a class="dropdown-item" href="#" data-toggle="m-tooltip" title="" data-placement="right" data-skin="dark" data-container="body" id="Pending" onclick ="ZtoA(this)">
												<i class="m-nav__link-icon fa fa-arrow-up"></i>
													<span class="m-nav__link-text">Customer (Pending)</span>
											</a>				
										</div>
									</div>	
								</div>
								
								<div class="m-portlet__head-tools" style="padding: 0px;margin: 0px;width: 100%;margin-bottom:-4px" align="right">
									<div align="right" style="width:69%;">
									<div class="m-input-icon m-input-icon--right for_auto_number">
										<input type="text" class="form-control m-input for_auto_complete" id="cc" placeholder="Search" onkeyup ="forClosing()" value="" autocomplete="off" spellcheck="false">
										<span class="m-input-icon__icon m-input-icon__icon--right " ><span><i class="close_action la" style="color: #716aca;"></i></span></span>
										</div>
									</div>
									 <div align="right" style="width:10%;" class="icon_animation">
										<a href="#" class="btn btn-brand m-btn m-btn--icon m-btn--icon-only" data-toggle="modal" data-target="#m_modal_3" style="height:40px" onclick="serach();setTimeout(function(e){$('#customerName').focus() },600);">
											<i class="la flaticon-user-add"></i>
										</a>
									</div>	 
									 <div align="right" style="width:15%;margin-left: 2px;">
										<a href="#" class="btn btn-brand m-btn m-btn--icon" data-toggle="modal" style="height:40px" id=":guest_id" 
										
										
										onclick="if(isNaN(this.id)){ swal({  title: 'Please Create the Guest Account',text: '', type: 'warning', });}else {showCreditItems(this);}"> 
								           
								          
								           
								                      
											Guest
										</a>
									</div> 
									
									
									
									
									
									
									
									
									
									
									
									
									
								</div> 
								</div> </div>    </div>
					<div class="m-portlet__body" style="padding:0px;margin: 0px;" id="view_body">
						<form class="m-form m-form--label-align-left- m-form--state-" id="m_form">
							<!--begin: Form Body -->
							<div class="m-portlet__body" style="padding : 0px;">
								<!--begin::Content-->
								<div class="tab-content">
									<div class="tab-pane active" id="m_widget5_tab1_content" aria-expanded="true">
										<!--begin::m-widget5-->
										<div class="list_margin m-widget5" id="list" align="left"></div>
										<div id="paginationLoader" class="m-loader m-loader--brand paginationLoader" style="display:none"></div> 
										<!--end::m-widget5-->
									</div>
								</div>
								<!--end::Content-->
							</div>
						</form>	
					</div>
					<iframe id="abc_frame" src="" height="200" width="300" title="Iframe Example" class="d-none"></iframe>
				</div>
				
				<!--begin::Modal-->
				<div class="modal fade" id="m_modal_3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-sm" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Add Customer</h5>
									 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
							</div>
							<div class="modal-body">
								<div id="add_cutstomer_error"></div> 
								<!-- <span class="m--font-danger customerError" style="display:none"><label>Customer already exists</label></span> -->
									<form class="m-login__form m-form" action="" id="AddCustomerForm">
										  <!--  <a href="#" class="btn btn-outline-success btn-sm m-btn m-btn--icon" onclick="addContact()" align="center">
															<span>
																<i class="la flaticon-user-add"></i>
																<span align="center" >Add from Contacts</span>
															</span>
														</a><br>
										<span>Or</span>   --> 
										<div class="form-group m-form__group m-input-icon m-input-icon--right">
											<input class="form-control m-input" type="text" placeholder="Customer Name" name="customerName" id="customerName" title="Enter Customer name" autofocus required>
											<span class="m-input-icon__icon m-input-icon__icon--right addcontact"><span onclick="addContact()"><i class="la la-user-plus" style="color:blue" ></i></span></span>
										</div>
										<div class="form-group m-form__group">
 											<input class="form-control m-input" type="number" placeholder="Mobile Number" name="mobileNumber" id="number" maxlength="10" pattern ="[0-9]{10}" title="Please enter 10 Digits mobile number" required oninput="this.value=this.value.slice(0,this.maxLength)">
 										
										
 </div>
										
										<!-- <button type="button" class="btn btn-primary" onclick="contact()">contacts</button> -->
									</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary clear_model_form" data-dismiss="modal">Cancel</button>
								<button type="button" class="btn btn-primary" onclick="$('#loaderDiv').show();createCustomer()">Add</button>
							</div>
						</div>
					</div>
				</div>
				<!--end::Modal-->
				
				
				<div class="modal fade" id="m_modal_12" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-sm" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Edit Customer</h5>
									 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
							</div>
							<div class="modal-body">
								<div id="add_cutstomer_error"></div> 
								<!-- <span class="m--font-danger customerError" style="display:none"><label>Customer already exists</label></span> -->
									<form class="m-login__form m-form" action="" id="EditCustomerForm">
										  <!--  <a href="#" class="btn btn-outline-success btn-sm m-btn m-btn--icon" onclick="addContact()" align="center">
															<span>
																<i class="la flaticon-user-add"></i>
																<span align="center" >Add from Contacts</span>
															</span>
														</a><br>
										<span>Or</span>   --> 
										<div class="form-group m-form__group m-input-icon m-input-icon--right">
											<input class="form-control m-input" type="text" placeholder="Customer Name" name="customerName" id="editCustomerName" title="Enter Customer name" autofocus required>
											<span class="m-input-icon__icon m-input-icon__icon--right addcontact"><span onclick="addContact()"><i class="la la-user-plus" style="color:blue" ></i></span></span>
										</div>
										<div class="form-group m-form__group">
 											<input class="form-control m-input" type="number" placeholder="Mobile Number" name="mobileNumber" id="editCustomerNumber" maxlength="10" pattern ="[0-9]{10}" title="Please enter 10 Digits mobile number" required oninput="this.value=this.value.slice(0,this.maxLength)">
 										
										
 </div>
										
										<!-- <button type="button" class="btn btn-primary" onclick="contact()">contacts</button> -->
									</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary clear_model_form" data-dismiss="modal">Cancel</button>
								<button type="button" class="btn btn-primary edi_customer" onclick="$('#loaderDiv').show();saveEditedCustomer(this)">Save</button>
							</div>
						</div>
					</div>
				</div>
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				<!--begin::Modal-->
						<div class="modal fade" id="m_modal_7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">View Transactions</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-height="200">
											<table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
												<thead>
													<tr>
														<th>DATE</th>
														<th class="text-right">TOTAL</th>
														<th class="text-right">PAID</th>
														<th class="text-right">CREDIT</th>
														<th>ITEM NAME</th>
														<th>QUANTITY</th>
														<th>MRP</th>
														<th>AMOUNT</th>
													</tr>
												</thead>
												<tbody id="previewItems">
												</tbody>
											</table>
										</div>
									</div>
									<!-- <div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										<button type="button" class="btn btn-primary">Save changes</button>
									</div> -->
								</div>
							</div>
						</div>

						<!--end::Modal-->
				
				
				