
	<div class="main">
		<div class="m-portlet m-portlet--last m-portlet--head-lg m-portlet--responsive-mobile m-portlet--head-solid-bg align-content " id="main_portlet" style="padding: 5px">
			<div class="" style="background-color: white;z-index:10">
			<div class="header_stick" style="background-color: white;z-index:10;">
				<div class="m-portlet__head" style="padding: 0px;margin: 0px;">
					<div class="m-portlet__head-progress">
					<!-- here can place a progress bar-->
					</div>
				<div class="m-portlet__head-wrapper">
					<div class="m-portlet__head-caption hiddencontent" style="width: 100%">
						<div class="m-portlet__head-title" style="width: 50%">
							<a href="#" onclick="loadHome()" class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only" style="margin-right: 15px">
								<i class="la la-home"></i>
							</a>				
							<h3 class="m-portlet__head-text">View Transactions</h3>
						</div>
						<div class="dropdown dropright" align="right" style="width: 50%;padding-right:1px">
							<button class="btn btn--sm m-btn--pill btn-secondary m-btn m-btn--label-brand" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Sort By <i class ="la la-sort"></i>
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);z-index:1">
								<a class="dropdown-item" href="#" data-toggle="m-tooltip" title="" data-placement="right" data-skin="dark" data-container="body" id="transaction_1" onclick ="AtoZ(this)">
									<i class="m-nav__link-icon fa fa-arrow-down"></i>
										<span class="m-nav__link-text">Item (A to Z)</span>
								</a>
								<a class="dropdown-item" href="#" data-toggle="m-tooltip" title="" data-placement="right" data-skin="dark" data-container="body" id="transaction_2" onclick ="ZtoA(this)">
									<i class="m-nav__link-icon fa fa-arrow-up"></i>
										<span class="m-nav__link-text">Item (Z to A)</span>
								</a>						
							</div>
						</div>				
					</div>
					
					<div class="m-portlet__head-tools" style="padding: 0px;margin: 0px;width: 100%;margin-bottom:-4px" align="right">
						<div align="right" style="width:90%;" >
						<div class="m-input-icon m-input-icon--right">
							<input type="text" class="form-control m-input for_auto_complete" id="inventory" placeholder="Search" onkeyup="filter(this)" autocomplete="off" spellcheck="false">
							<span class="m-input-icon__icon m-input-icon__icon--right " ><span><i class="close_action la" style="color: #716aca;"></i></span></span>
										</div>
						</div>
						<div align="right" style="width:10%;">
							<a href="#" class="btn btn-primary m-btn m-btn--icon m-btn--icon-only" data-toggle="modal" data-target="#m_modal_5" style="height:40px">
								<i class="la la-filter"></i>
							</a>
						</div>	
					</div>		
				</div>			
			</div></div>
		</div>
		<div class="m-portlet__body" style="padding:0px;margin: 0px;width:90%" >
			<form class="m-form m-form--label-align-left- m-form--state-" id="m_form"  style="background-color: white;" >
			<!--begin: Form Body -->
				<div class="m-portlet__body" style="padding : 0px;">
				<!--begin::Content-->
					<div class="tab-content">
						<div class="tab-pane active" id="m_widget5_tab1_content" aria-expanded="true">
						<!--begin::m-widget5-->
							<div class="m-timeline-1 m-timeline-1--fixed transaction list_margin transaction_widget" id="list" align="left" ></div>
						<!--end::m-widget5-->
						<div id="paginationLoader" class="m-loader m-loader--brand paginationLoader" style="display:none"></div> 
						</div>
					</div>
				<!--end::Content-->
				</div>
			</form>
		</div>
	</div>		
			
	<!--begin::Modal-->
	<div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Apply Filters</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-9 ">Transaction Dates</label>
							<div class="col-lg-4 col-md-9 col-sm-12" style="display: contents;">
								<div class="input-daterange input-group" id="m_datepicker_5">
									<input type="text" class="form-control m-input" name="start" id="start" />
										<div class="input-group-append">
											<span class="input-group-text"><i class="la la-ellipsis-h" ></i></span>
										</div>
									<input type="text" class="form-control" name="end" id="end" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="message-text" class="form-control-label">Transaction Type:</label>
								<div class="m-checkbox-list">
									<label class="m-checkbox m-checkbox--solid m-checkbox--state-brand">
										<input type="checkbox" name="transType" value="Buy" checked="checked"> Buy
											<span></span>
									</label>
									<label class="m-checkbox m-checkbox--solid m-checkbox--state-brand">
										<input type="checkbox" name="transType" value="Sold" checked="checked"> Sold
											<span></span>
									</label>
									<label class="m-checkbox m-checkbox--solid m-checkbox--state-brand">
										<input type="checkbox" name="transType" value="Cost Update" checked="checked"> Cost Update
											<span></span>
									</label>
									<!-- <label class="m-checkbox m-checkbox--solid m-checkbox--state-brand">
										<input type="checkbox" name="excelSheet" value="Excel" > Generate Excel
											<span></span>
									</label> -->			
								</div>
						</div>
						<div class="form-group" >
							<label for="message-text" class="form-control-label">Select items:</label>
								    <select multiple class="form-control m-bootstrap-select selectpicker w-100" data-live-search="true" id="itemsList" data-width="25%"></select>  
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" onclick="$('#loaderDiv').show();applyTransactionFilters()">Apply</button>
				</div>
			</div>
		</div>
	</div>
	<!--end::Modal-->
	
	
	
</div>

						
					
		