 <!-- <div class="modal fade" id="m_modal_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true"> -->
							<div class="m-portlet m-portlet--last m-portlet--head-lg m-portlet--responsive-mobile m-portlet--head-solid-bg " id="main_portlet" style="padding: 5px">
							<div class="" role="document" >
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="title">Invoice</h5>
										 <!-- <button type="button" id=":cc_id" onclick="showCreditItems(this,back)" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>  -->
										
										
										 <button type="button" id=":cc_id_invoice"  onclick="previewInvoiceChange(this)" class="close invoice_customer_back" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span> 
										</button> 
										 <button type="button" id=":cc_id_transactions_cross"  onclick="window.sessionStorage.removeItem('previewItems');window.sessionStorage.removeItem('updateInvoiceTransactions');loadCustomerTransactions(this.id)" class="close invoice_transactions_back" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span> 
										</button> 
										
										
										
									</div>
									<div class="modal-body" style="padding:12px">
										<div class="m-portlet__body m-portlet__body--no-padding">
											<div class="">
												<div class="m-invoice__wrapper">
													<div class="m-invoice__head" style="background-image: url(../../assets/app/media/img//logos/bg-6.jpg);">
												</div>
											<div class="m-invoice__body m-invoice__body--centered">
												<div class="table-responsive">
													<table class="table">
														<thead width="100%">
															<tr>
																<th style="padding-right:1.8px;overflow: auto; white-space: nowrap;width:30%">ITEM NAME</th>
																<th class="text-right" width="20%">QTY</th>
																<th class="text-right" width="20%">MRP</th>
																<th class="text-right" width="20%">AMOUNT</th>
																<th class="text-right" width="10%"></th>
															</tr>
														</thead>
														<tbody id="previewItems">
														</tbody>  
													</table>
												</div>
												<div>
												<table class="table">
													<thead>
														<tr>
															<th>Current Purchase</th>
															<th></th>
															<th></th>																	
															<th align="center">
																<span class="pull-right "><label id="totalAmount" class="m--font-danger"></label> </span>
															</th>
														</tr>
														<!-- <tr>
															<th>TA+PENDING AMOUNT</th>
															<th></th>
															<th></th>
															<th align="center">
																 <span class="pull-right"><label id="TaPlusPa"></label>&nbsp;<span>+</span>&nbsp;<span id="pa"></span></span>
																  
															</th>
														</tr> -->
														<tr>
															<th>Previous Credit</th>
															<th></th>
															<th></th>
															<th align="center">
																<span class="pull-right"><label id="previousCredit"></label> </span>
															</th>
														</tr>
														<tr>
															<th>Current Credit</th>
															<th></th>
															<th></th>
															<th align="center">
																<span class="pull-right"><label id="totalAmountCredit"></label> </span>
															</th>
														</tr>
														<tr valign="middle" id="showDiscountColumn" >
															<th style="padding-bottom:20px;">Discount Amount</th>
															<th></th>
															<th>
															</th>
															<th >
																<!-- <input class="form-control input-group input-group-sm pull-right text-right"  style="width:120px;" id="discount" type="number" value="0.00" onkeyup="onPaidUpdate(this)" onchange="onPaidUpdate(this)" 
																oninput="var reg = new RegExp('^[0-9]{1,9}([,.0][0-9]{1,9})?$');var check = reg.test(this.value);if(!check){$('#discount').addClass('quatity_alert');$('.dis').prop('disabled',true);}else{$('.dis').prop('disabled',false);$('#discount').removeClass('quatity_alert');}onPaidUpdate(this)"></input> -->
																
																<input class="form-control input-group input-group-sm pull-right text-right"  style="width:120px;" id="discount" type="number" value="0.00" onkeyup="onPaidUpdate(this)" onchange="onPaidUpdate(this)" 
																oninput="var reg = new RegExp('^[0-9]{1,9}([,.0][0-9]{1,9})?$');onPaidUpdate(this)" onfocusout='if($("#discount").val() === "") $("#discount").val(parseFloat(0).toFixed(2));'></input>
																
															</th>  
														</tr>
														<tr valign="middle">
															<th style="padding-bottom:20px;">Paid Amount</th>
															<th></th>
															<th>
															</th>
															<th align="center" >
																<input class="form-control input-group input-group-sm pull-right text-right"  style="width:120px;" id="totalAmountPaid" type="number" onkeyup="onPaidUpdate(this)" onchange="onPaidUpdate(this)" 
																onfocusout="if(this.value === '')this.value = parseFloat($('#totalAmountCredit').text()-$('#discount').val()).toFixed(2)" oninput="onPaidUpdate(this)"></input>
																
																<span id="totalAmountAlert" style="color: red; font-size: 8px;display:none" class="form-control-feedback col pull-right text-right">Please enter valid input &nbsp;<span id="showAlertValue"></span></span>
															</th>  
														</tr>
														<tr>
															<th>Final Credit</th>
															<th></th>
															<th></th>
															<th align="center">
																<span class="pull-right"><label id="finalCredit"></label> </span>
															</th>
														</tr>
													</thead>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer invoice_buttons">
<!-- 							<button type="button" class="btn btn-secondary invoice_customer_back btn-sm" id=":cc_id" onclick="showCreditItems(this,'back')" data-dismiss="modal">Back</button>
 -->						<button type="button" class="btn btn-secondary invoice_customer_back btn-sm" id=":cc_id" onclick="previewInvoiceChange(this)" data-dismiss="modal">Back</button>	
 							<button type="button" class="btn btn-secondary invoice_transactions_back btn-sm" id=":cc_id_transactions" 
 							onclick="window.sessionStorage.removeItem('previewItems');window.sessionStorage.removeItem('updateInvoiceTransactions');loadCustomerTransactions(this.id)" data-dismiss="modal">Back</button>
							<button type="button" class="btn btn-primary invoice_transactions_back btn-sm addItemTra " id=":cc_id_invoice_tran" onclick="previewInvoiceChange(this,:customerTrasanctionId)"" data-dismiss="modal">Add Items</button>
							
							
							<button type="button" class="btn btn-primary dis btn-sm" onclick="saveCreditItems(this,null,:customerTrasanctionId)" id="save/:cc_id">Save</button>
							<button type="button" class="btn btn-primary print dis btn-sm" onclick="saveCreditItems(this,'whatsapp',:customerTrasanctionId);" id="whatsup/:cc_id">Save & Whatsapp</button>
<!-- 							<button type="button" class="btn btn-primary" onclick="printJS({printable:'pages/sample.pdf', type:'pdf', showModal:true})" id="whatsup/:cc_id">Save & Whatsapp</button>
 -->							<!-- <a href="#" class="btn btn-primary" onclick="saveCreditItems(this,'whasapp')">
											<i class="la la-whatsapp">Submit & Whatsapp</i>
							</a>	 -->
						</div>
						
						<!-- <div class="modal-footer update_invoice_buttons" style="display:none">
							<button type="button" class="btn btn-secondary" id=":cc_id_transactions" onclick="loadCustomerTransactions(this)" data-dismiss="modal">Back</button>
							<button type="button" class="btn btn-primary dis" onclick="updateInvoiceTransaction(this,null)" id="save/:cc_id">Save</button>
							<button type="button" class="btn btn-primary print dis" onclick="updateInvoiceTransaction(this,'whatsapp');" id="whatsup/:cc_id">Save & Whatsapp</button>
							<button type="button" class="btn btn-primary" onclick="printJS({printable:'pages/sample.pdf', type:'pdf', showModal:true})" id="whatsup/:cc_id">Save & Whatsapp</button>
							<a href="#" class="btn btn-primary" onclick="saveCreditItems(this,'whasapp')">
											<i class="la la-whatsapp">Submit & Whatsapp</i>
							</a>	
						</div> -->
						
						
						
						
						
						
						
						
						
						
						
						
					</div>
				</div>
			 </div> 