	<div class="main">
	<!--begin:: Widgets/Best Sellers-->
	
		<div class="m-portlet m-portlet--last m-portlet--head-lg m-portlet--responsive-mobile m-portlet--head-solid-bg" style="padding: 5px">
					<!-- <div class="header-stick" style="background-color: white;z-index:10"> -->
		<div class="header_stick" style="background-color: white;z-index:10;">
			<div class="m-portlet__head" style="padding: 0px;margin: 0px;margin-bottom: 7px;">
				<div class="m-portlet__head-progress">
				<!-- here can place a progress bar-->
				</div>
			<div class="m-portlet__head-wrapper">
				<div class="m-portlet__head-caption hiddencontent" style="width: 100%">
					<div class="m-portlet__head-title" style="width: 50%">
						<a href="#" onclick="loadHome()" class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only" style="margin-right: 15px">
							<i class="la la-home"></i>
						</a>	
						<h3 class="m-portlet__head-text">
							Manage Stock
						</h3>					 
					</div>
					<div class="dropdown dropright" align="right" style="width: 50%;padding-right:1px">
						<button class="btn btn--sm m-btn--pill btn-secondary m-btn--label-brand" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Sort By <i class = "la la-sort"></i>
						</button>							
						<div class="dropdown-menu width-changes" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);z-index:20">
							<a class="dropdown-item" href="#" data-toggle="m-tooltip" title="" data-placement="right" data-skin="dark" data-container="body" id="stockManage_1" onclick ="AtoZ(this);">
								<i class="m-nav__link-icon fa fa-arrow-down"></i>
									<span class="m-nav__link-text">Item (A to Z)</span>
							</a>
							<a class="dropdown-item" href="#" data-toggle="m-tooltip" title="" data-placement="right" data-skin="dark" data-container="body" id="stockManage_2" onclick ="ZtoA(this);">
								<i class="m-nav__link-icon fa fa-arrow-up"></i>
									<span class="m-nav__link-text">Item (Z to A)</span>
							</a>
							<a class="dropdown-item" href="#" data-toggle="m-tooltip" title="" data-placement="right" data-skin="dark" data-container="body" id="stockManage_3" onclick ="quantityLowToHigh(this);">
								<i class="m-nav__link-icon fa fa-arrow-down"></i>
									<span class="m-nav__link-text">Quantity (Low to High)</span>
							</a>
							<a class="dropdown-item" href="#" data-toggle="m-tooltip" title="" data-placement="right" data-skin="dark" data-container="body" id="stockManage_4" onclick ="quantityHighToLow(this);">
								<i class="m-nav__link-icon fa fa-arrow-up"></i>
									<span class="m-nav__link-text">Quantity (High to Low)</span>
							</a>
						</div>
					</div>
				</div>
			
				<div class="m-portlet__head-tools actionbuttons" style="padding: 0px; margin: 0px; width: 100%;display: none" align="right" >
					<div align="right" style="width: 50%; padding: 2px;">
						<a href="#" class="btn btn-primary  m-btn--air m-btn m-btn--custom  btn-block" onclick="loadPurchaseOrSell('Purchase')">
							<span>
								<i class="la la-angle-double-down"></i>
									<span>Buy</span>
							</span>
						</a>							
					</div>
					<div align="right" style="width: 50%; padding: 2px;">
						<a href="#" class="btn btn-primary m-btn  m-btn--air m-btn--custom btn-block" onclick="loadPurchaseOrSell('Sell')">
							<span>
								<i class="la la-angle-double-up"></i>
								<span>Sell</span>
							</span>
						</a>								
					</div>
				</div>
				</div>
				<div class="m-portlet__head-tools col-lg-6" style="padding: 0px;margin: 0px;width: 100%" align="right">
					<div align="right" style="width:100%;margin-bottom: 0px;" >
					<div class="m-input-icon m-input-icon--right">
						<input type="text" class="form-control m-input for_auto_complete" id="myInput" placeholder="Search" onkeyup ="forClosing()" autocomplete="off" spellcheck="false">
						<span class="m-input-icon__icon m-input-icon__icon--right " ><span><i class="close_action la" style="color: #716aca;"></i></span></span>
										</div>
					</div>	
				</div>
										
			
			
			
			</div>	
		</div>
			
 	<div class="m-portlet__body" style="padding : 0px;margin: 0px; background-color: white;">
			<div class="tab-content">
				<div class="tab-pane active" id="m_widget5_tab1_content" aria-expanded="true">
				<!--begin::m-widget5-->	
		   	  		<div class="list_margin m-widget5 mt-sm-2" id="list" align="left" style="">               
					<!-- data-axis="xy"  class="m-scrollable touch scrollbar" data-scrollbar-shown="true" data-scrollable="true" data-max-height="500" style="height: 500px;  overflow: scroll;" align="left"> -->
	 			</div>  
	 			<div id="paginationLoader" class="m-loader m-loader--brand paginationLoader" style="display:none"></div>                
				<!--end::m-widget5-->
				</div>					
		</div>                  	
			<!--end::Content-->
  		<!-- </div> -->                      
 	</div>                                       
				</div>	
	</div>								
							
