			<div class="main_1" id="menu_page" >	
				<!--Begin::Section-->
				<div class="row" style="margin-right: 0px;margin-left: 0px;">
					<div class="col-xl-12" style="padding: 0px;height: 603px;">
						<!--begin:: Widgets/Blog-->
						<div class="m-portlet m-portlet--head-overlay m-portlet--full-height   m-portlet--rounded-force">
							<div class="m-portlet__head m-portlet__head--fit">
								<div class="m-portlet__head-caption" style="width: 100%">
									<div class="m-portlet__head-title" style="width: 90%">
										<h3 class="m-portlet__head-text m--font-light">
											Home
										</h3>
									</div>
									<div class="m-portlet__head-title" style="display: none;">
										<a href="#" class="btn btn-danger m-btn m-btn--icon m-btn--icon-only" onclick="logOut()">
											<i class="la la-power-off"></i>
										</a>
									</div>
								</div>
							</div>
							<div class="m-portlet__body">
								<div class="m-widget28">
									<div class="m-widget28__pic m-portlet-fit--sides" style="background-color: #282B3C;min-height:340px;"></div>
										<div class="m-widget28__container">
											<div class="m-widget28__tab" style="background-color: #282B3C;">
												<!-- begin::Nav pills -->
												<ul class="m-widget28__nav-items nav nav-pills nav-fill" role="tablist" style="height: 350px;">
													<li class="m-widget28__nav-item nav-item">
														<a class="nav-link" data-toggle="pill" href="#credit" onclick="onScrollValue = false;loadCredit();"><span><i class="fa flaticon-users"></i></span><span>Customers</span></a>
													</li>
													<li class="m-widget28__nav-item nav-item">
														<a class="nav-link" data-toggle="pill" href="#manageStock" onclick="onScrollValue = false;loadManageStock()"><span><i class="fa flaticon-cart"></i></span><span>Manage Stock</span></a>
													</li>
													<li class="m-widget28__nav-item nav-item">
														<a class="nav-link" data-toggle="pill" href="#viewTransactions" onclick="onScrollValue = false;loadTransactions()"><span><i class="fa flaticon-time"></i></span><span>Transactions</span></a>
													</li>
													
												</ul>
												<ul class="m-widget28__nav-items nav nav-pills nav-fill" role="tablist" style="height: 100px;">

													<li class="m-widget28__nav-item nav-item">
														<a class="nav-link" data-toggle="pill" href="#viewStock" onclick="onScrollValue = false;loadViewStock()" data-transition="slide"><span><i class="fa flaticon-eye"></i></span><span>View Stock</span></a>
													</li>
													<li class="m-widget28__nav-item nav-item">
														<a class="nav-link" data-toggle="pill" href="#itemSetup" onclick="onScrollValue = false;loadSettings()"><span><i class="fa flaticon-settings-1"></i></span><span>Items Setup</span></a>
													</li>
													<!-- <li class="m-widget28__nav-item nav-item">
														<a class="nav-link" data-toggle="pill" href="#" onclick="loadBill()"><span><i class="fa flaticon-file-2"></i></span><span>Bill</span></a>
													</li> -->
													<!-- <li class="m-widget28__nav-item nav-item">
														<a class="nav-link" data-toggle="pill" href="#loadReports" onclick="loadReports(this.href)"><span><i class="fa flaticon-line-graph"></i></span><span>Reports</span></a>

													</li> -->
													
													<li class="m-widget28__nav-item nav-item">
														<a class="nav-link" data-toggle="pill" href="#loadReports" onclick="loadProfile()"><span><i class="fa flaticon-user-settings"></i></span><span>Profile</span></a>

													</li>
													
													
													
													
													
													
													
												</ul>
												
												<!-- <ul class="m-widget28__nav-items nav nav-pills nav-fill" role="tablist" style="height: 20%;">
													<li class="m-widget28__nav-item nav-item">
														<a class="nav-link" data-toggle="pill" href="" onclick="loadViewStock()"><span><i class="fa flaticon-eye"></i></span><span>Bill</span></a>
													</li>
													
													<li class="m-widget28__nav-item nav-item">
														<a class="nav-link" data-toggle="pill" href="#" onclick="loadProfile()"><span><i class="fa flaticon-user-settings"></i></span><span>Profile</span></a>
													</li>
													
												</ul> -->
												<!-- end::Nav pills -->
											</div>
											<!-- begin::Tab Content -->
											 <div class="m-widget28__tab tab-content" style="height: 350px"> 
											<div class="m-widget28__tab tab-content" style="float: left; width: 100%;overflow-y: auto;height: 190px;">
												<div id="menu11" class="m-widget28__tab-container tab-pane active">
													<div class="m-widget28__tab-items">
														<div class="m-widget28__tab-item">
															<span>Shop Name</span>
															<span>:shopName</span>
														</div>
														<!-- <div class="m-widget28__tab-item">
																<span>Total Stock Value (INR)</span>
																<span>:totalStockValue</span>
															</div> -->
														<div class="m-widget28__tab-item">
																<span>Today Sold Value </span>
																<span>:todaySoldValue Rs</span>
															</div>
															<div class="m-widget28__tab-item">
																<span>Total Credit Value</span>
																<span>:totalCreditValue</span>
															</div>  
														 <div class="m-widget28__tab-item">
																<span>Total Sold Value </span>
																<span>:totalSoldValue Rs</span>
															</div> 
														 	  
														<div class="m-widget28__tab-item">
															<span>Total Stock Value </span>
															<span>:totalStockValue Rs</span>
														</div>
															
															
															  
													</div>
													

												</div>
											</div>
											
											
											</div>
											
											
											<!-- end::Tab Content -->
										</div>
									</div>
								</div>
							</div>
							<!--end:: Widgets/Blog-->
						</div>
					</div>
				</div>								

					


