<!-- <div class="m-portlet m-portlet--last m-portlet--head-lg m-portlet--responsive-mobile m-portlet--head-solid-bg content_show " id="main_portlet" style="padding: 5px;"> -->
<!-- <div class="content_show">
	<h4 align="center" style="margin-top: 25%; margin-bottom: 50%;"id="customers_error"></h4>
	<h4 align="center" style="margin-top: 25%; margin-bottom: 50%;" id="items_error"></h4>
</div> -->


 <!-- <div class="m-portlet m-portlet--last m-portlet--head-lg m-portlet--responsive-mobile m-portlet--head-solid-bg content_show "> -->
 <div class="content_show" style="background-color:white">
	<h4 align="center" id="customers_error"></h4>
	<h4 align="center" id="items_error"></h4>
</div>