<!-- <div
	class="m-portlet m-portlet--last m-portlet--head-lg m-portlet--responsive-mobile m-portlet--head-solid-bg "
	id="main_portlet"
	style="padding-top: 55px; padding-right: 8px; padding-left: 8px; padding-bottom: 0px"> -->
	 <!-- <div class="m-section__content"> -->
												<!-- <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false"> -->
													<!--  <div class="m-demo__preview m-demo__preview--btn" style="margin-top: -50px; margin-bottom: 50px;"> -->
   
														<!-- <button type="button" class="btn m-btn--pill btn-primary btn-sm clickme1">Profile</button>
														<button type="button" class="btn m-btn--pill btn-primary btn-sm clickme2  pull-right">Change Password</button> -->
														<!-- <a href="#" class="clickme1" style="color: #502be2;"><i class="fa flaticon-user-settings"></i> 
																Profile</a>&nbsp;
														<a href="#" class=" clickme2 " style="color: #502be2;"><i class="fa flaticon-eye"></i> 
																Change Password</a> -->
														
														<!-- <button type="button" class="btn btn-brand clickme1">Brand</button>
														<button type="button"  class="btn btn-metal clickme2 pull-right">Metal</button>
														<button type="button" class="btn btn-accent">Accent</button>
														<button type="button" class="btn btn-focus">Focus</button> -->
													<!-- </div>  -->
												<!-- </div> -->
											<!-- </div> -->
											
											
											
											
											
	 <!-- <div class="m-portlet__body plan-update" style="padding: 0px; margin: 0px;"
		id="view_body">
		begin: Form Body
		<div class="m-portlet__body" style="padding: 0px;">
			begin::Content
			<div class="tab-content">
				<div class="tab-pane active" id="m_widget5_tab1_content" "
					aria-expanded="true">
					 <div id="plan-update"></div> 
					<form class="login100-form validate-form ">
						<span class="login100-form-title p-b-26" style="margin-top: -45px">
							Profile </span>
						<div id="profilForm">
							<div class="wrap-input100 validate-input "
								data-validate="Enter Shopname">
								<input class="input100 shop" type="text" name="shopName"
									id="shopname" title="enter name"> <span
									class="focus-input100" data-placeholder="Shop name"></span>
							</div>
							<div class="wrap-input100 validate-input"
								data-validate="Enter 10 digit mobile number">
								<input class="input100 mobile" type="number" name="mobile"
									id="mobileNumber" maxlength="10" disabled> <span
									class="focus-input100" data-placeholder="Mobile"></span>
							</div>
							<div class="wrap-input100 validate-input">
								<input class="input100" type="text" name="address" id="address">
								<span class="focus-input100" data-placeholder="address"></span>
							</div>
							<div class="wrap-input100 validate-input">
								<input class="input100" type="text" name="city" id="city">
								<span class="focus-input100" data-placeholder="City"></span>
							</div>
							<div class="wrap-input100 validate-input">
								<input class="input100" type="text" name="state" id="state">
								<span class="focus-input100" data-placeholder="State"></span>
							</div>
							<div class="wrap-input100 validate-input">
								<input class="input100" type="number" name="zip" id="pincode">
								<span class="focus-input100" data-placeholder="Zip code"></span>
							</div>
						</div>
						<div class="m-login__form-action" align="right" style="margin-top:-20px;padding-bottom: 8px;">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal" onclick="loadHome()">Cancel</button>
							<button type="button" class="btn btn-primary" onclick="renewalPlan('profilePage')" >Renewal Plan</button>
								<button type="submit" class="btn btn-primary" id="m_blockui_3_5">Update</button>
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</form>
				</div>
				
				
				<div class="tab-pane active" id="m_widget5_tab1_content1" style="display:none"
					aria-expanded="true">
					 <div class="plan-update"></div> 
					<form class="login100-form validate-form-1 ">
						
							<div class="wrap-input100 validate-input m-input-icon--right m-form__group">
								<input class="input100 shop_password" type="password" name="oldPassword" id="oldPassword" data-toggle="password" required  >
								<span class="focus-input100" data-placeholder="Password"></span><span title="please enter correct password"></span>
								<span class=" pull-right"  style="font-size: 12;margin-top: -20px;">
									<i class="fa fa-eye toggle-password-login" style="margin-top: -20px; "toggle="#oldPassword"></i>
								</span> 
							</div>
							<div class="wrap-input100 validate-input m-input-icon--right m-form__group">
								<input class="input100 shop_password" type="password" name="newPassword" id="newPassword" data-toggle="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&#])[A-Za-z\d@$!%*?&#]{8,}$" required title="please enter correct password"  >
								<span class="focus-input100" data-placeholder="Enter new password"></span>
							</div>
							<div class="wrap-input100 validate-input m-input-icon--right m-form__group">
								<input class="input100 shop_password" type="password" name="confirmPassword" id="register_password" data-toggle="password" required equalTo="#newPassword" title="please confirm password">
								<span class="focus-input100" data-placeholder="Confirm new password"></span>
								<span class=" pull-right "  style="font-size: 12;margin-top: -20px;">
									<i class="fa fa-eye toggle-password-login" style="margin-top: -20px;"toggle="#register_password"></i>
								</span>
							</div>
						
						<div class="m-login__form-action" align="right" style="margin-top:-20px;padding-bottom: 8px;">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal" onclick="loadHome()">Back</button>
							<button type="button" class="btn btn-primary" onclick="changePassword()">Change</button>
						</div>
					</form>
				</div>
				
			</div>
			
		</div> 	
	</div> 
	 -->
	<!--begin::Portlet-->
								<div class="m-portlet m-portlet--tabs ">
									<div class="m-portlet__head">
										<!-- <div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">
													Portlet Tabs
												</h3>
											</div>
										</div> -->
										<div class="m-portlet__head-tools col-sm-10">
											<ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--right m-tabs-line-danger col-sm-10" role="tablist">
												<li class="nav-item m-tabs__item">
													<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_portlet_tab_1_1" role="tab">
														Profile
													</a>
												</li>
												<li class="nav-item m-tabs__item">
													<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_portlet_tab_1_2" role="tab" style="margin-left: -5px">
														Change Password
													</a>
												</li>
												<!-- <li class="nav-item m-tabs__item">
													<a class="nav-link m-tabs__link" data-toggle="tab" href="#" role="tab" onclick="renewalPlan('profilePage',1)" style="margin-left: -5px">
														Renewal Plan
													</a>
												</li> -->
												<li class="nav-item m-tabs__item">
													<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_portlet_tab_1_3"  onclick="loadInvoiceSettings()" role="tab">
														Invoice Settings
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="m-portlet__body">
										<div class="tab-content">
											<div class="tab-pane active" id="m_portlet_tab_1_1">
												 <div id="plan-update"></div> 
													<form class="login100-form validate-form ">
													<!-- <span class="login100-form-title p-b-26" style="margin-top: -45px">
														Profile </span> -->
													<div id="profilForm">
														<div class="wrap-input100 validate-input "
															data-validate="Enter Shopname">
															<input class="input100 shop" type="text" name="shopName"
																id="shopname" title="enter name"> <span
																class="focus-input100" data-placeholder="Shop name"></span>
														</div>
														<div class="wrap-input100 validate-input"
															data-validate="Enter 10 digit mobile number">
															<input class="input100 mobile" type="text" name="mobile"
																id="mobileNumber" maxlength="10" disabled> <span
																class="focus-input100" data-placeholder="Mobile"></span>
														</div>
														<div style="width:100%"><label style="margin-bottom: 35px;font-size: 15px;padding: 5px;width: 20%;">Discount</label>&nbsp;&nbsp;
														<label class="m-checkbox m-checkbox--state-primary" style= "padding: 3px;">
																		 <input type="checkbox" value="NO" name="checkBox_0" placeholder="settings" id="checkBox"> 
																		<span></span>
														</label></div>
														<!-- <div style="width:100%"><label style="margin-bottom: 35px;font-size: 15px;padding: 5px;width: 20%;">GST%</label>&nbsp;&nbsp;
														<label class="m-checkbox m-checkbox--state-primary" style= "padding: 3px;">
																		 <input type="checkbox" value="NO" name="checkBoxGst" placeholder="settingsGst" id="GST"> 
																		<span></span>
														</label></div> -->
														<div class="wrap-input100 validate-input">
															<input class="input100" type="text" name="address" id="address">
															<span class="focus-input100" data-placeholder="address"></span>
														</div>
														<div class="wrap-input100 validate-input">
															<input class="input100" type="text" name="city" id="city">
															<span class="focus-input100" data-placeholder="City"></span>
														</div>
														<div class="wrap-input100 validate-input">
															<input class="input100" type="text" name="state" id="state">
															<span class="focus-input100" data-placeholder="State"></span>
														</div>
														
														<div class="wrap-input100 validate-input">
															<input class="input100" type="text" name="zip" id="pincode">
															<span class="focus-input100" data-placeholder="Zip code"></span>
														</div>
														<div class="wrap-input100 validate-input">
															<!-- <input class="input100" type="text" name="zip" id="pincode"> -->
															<label class ="ml-2">Upload Logo </label><input class=" input100 " type="file" title="" name="file" id="shopLogo" accept="image/*" onchange="onChangeFile(this)">
															<!-- <span class="focus-input100" data-placeholder="Zip code"></span>  -->
														</div>
														
													</div>
													<div class="m-login__form-action" align="right" style="margin-top:-20px;padding-bottom: 8px;">
														<button type="button" class="btn btn-secondary"
															data-dismiss="modal" onclick="loadHome()">Cancel</button>
<!-- 														<button type="button" class="btn btn-primary" onclick="renewalPlan('profilePage')" >Renewal Plan</button>
 -->															<button type="submit" class="btn btn-primary" id="m_blockui_3_5">Update</button>
														<!-- <button type="submit" class="btn btn-primary">Save</button> -->
													</div>
												</form>
											</div>
											
											<div class="tab-pane" id="m_portlet_tab_1_3">
												
													<form class="login100-form ">
													<!-- <span class="login100-form-title p-b-26" style="margin-top: -45px">
														Profile </span> -->
													<div id="profilForm">
														<!-- <div class="wrap-input100 validate-input "
															data-validate="Enter Shopname">
															<input class="input100 shop" type="text" name="shopName"
																id="shopname" title="enter name"> <span
																class="focus-input100" data-placeholder="Shop name"></span>
														</div>
														<div class="wrap-input100 validate-input"
															data-validate="Enter 10 digit mobile number">
															<input class="input100 mobile" type="text" name="mobile"
																id="mobileNumber" maxlength="10" disabled> <span
																class="focus-input100" data-placeholder="Mobile"></span>
														</div> -->
														<!-- <div><label class="col-9" style="font-size: 15px;padding: 5px;">Discount</label>&nbsp;&nbsp;
														<label class="m-checkbox m-checkbox--state-primary" style= "padding: 3px;">
																		 <input type="checkbox" placeholder="settings" name="checkBox_0" value="NO" id="checkBox_0"> 
																		<span></span>
														</label></div> -->
														<div><label class="col-9" style="font-size: 15px;padding: 5px;">Show Logo</label>&nbsp;&nbsp;
														<label class="m-checkbox m-checkbox--state-primary" style= "padding: 3px;">
																		 <input type="checkbox" placeholder="settingsl" name="checkBoxLogo" value="NO" id="checkBoxLogo">
																		<span></span>
														</label></div>
														<div><label class="col-9" style="margin-bottom: 35px;font-size: 15px;padding: 5px;">Display Customer Details</label>&nbsp;&nbsp;
														<label class="m-checkbox m-checkbox--state-primary" style= "padding: 3px;">
																		 <input type="checkbox" placeholder="settingsd" name="checkBoxDetails" value="NO" id="checkBoxDetails"> 
																		<span></span>
														</label></div>
														<!-- <div class="wrap-input100 validate-input">
															<input class="input100" type="text" name="address" id="address">
															<span class="focus-input100" data-placeholder="address"></span>
														</div>
														<div class="wrap-input100 validate-input">
															<input class="input100" type="text" name="city" id="city">
															<span class="focus-input100" data-placeholder="City"></span>
														</div>
														<div class="wrap-input100 validate-input">
															<input class="input100" type="text" name="state" id="state">
															<span class="focus-input100" data-placeholder="State"></span>
														</div>
														
														<div class="wrap-input100 validate-input">
															<input class="input100" type="text" name="zip" id="pincode">
															<span class="focus-input100" data-placeholder="Zip code"></span>
														</div> -->
													</div>
													<div class="m-login__form-action col-lg-10" align="right" style="margin-top:-20px;padding-bottom: 8px;">
														<button type="button" class="btn btn-secondary"
															data-dismiss="modal" onclick="loadHome()">Cancel</button>
<!-- 														<button type="button" class="btn btn-primary" onclick="renewalPlan('profilePage')" >Renewal Plan</button>
 -->															<button type="button" class="btn btn-primary" value = "invoice" onclick="saveInvoiceSettings()" id="m_blockui_3_6">Save</button>
														<!-- <button type="submit" class="btn btn-primary">Save</button> -->
													</div>
												</form>
											</div>
											
											
											
											
											
											
											
											
											
											
											
											
										<div class="tab-pane" id="m_portlet_tab_1_2">
										  <div class="plan-update"></div>  
										<form class="login100-form validate-form-1 ">
												<div class="wrap-input100 validate-input m-input-icon--right m-form__group">
													<input class="input100 shop_password" type="password" name="oldPassword" id="oldPassword" data-toggle="password" required autocomplete="off">
													<span class="focus-input100" data-placeholder="Password"></span><span title="please enter correct password"></span>
													<span class=" pull-right"  style="font-size: 12;margin-top: -20px;">
														<i class="fa fa-eye toggle-password-login" style="margin-top: -20px; "toggle="#oldPassword"></i>
													</span> 
												</div>
												<div class="wrap-input100 validate-input m-input-icon--right m-form__group">
													<input class="input100 shop_password" type="password" name="newPassword" id="newPassword" data-toggle="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&#])[A-Za-z\d@$!%*?&#]{8,}$" required title="please enter correct password" autocomplete="off" >
													<span class="focus-input100" data-placeholder="Enter new password"></span>
												</div>
												<div class="wrap-input100 validate-input m-input-icon--right m-form__group">
													<input class="input100 shop_password" type="password" name="confirmPassword" id="register_password" data-toggle="password" required equalTo="#newPassword" title="please confirm password" autocomplete="off">
													<span class="focus-input100" data-placeholder="Confirm new password"></span>
													<span class=" pull-right "  style="font-size: 12;margin-top: -20px;">
														<i class="fa fa-eye toggle-password-login" style="margin-top: -20px;"toggle="#register_password"></i>
													</span>
												</div>
											
											<div class="m-login__form-action" align="right" style="margin-top:-20px;padding-bottom: 8px;">
												<button type="button" class="btn btn-secondary"
													data-dismiss="modal" onclick="loadHome()">Back</button>
												<button type="button" class="btn btn-primary" onclick="changePassword()">Change</button>
											</div>
										</form>
									</div>
								</div>	
							</div>
						</div>
					<!--end::Portlet-->
<script src="scripts/profile.js" type="text/javascript"></script>
		





