		<div class="main">
		<!--begin:: Widgets/Best Sellers-->
			<div class="m-portlet m-portlet--last m-portlet--head-lg m-portlet--responsive-mobile m-portlet--head-solid-bg" style="padding: 5px"  id="error_msg">
				<!-- <div class="alert alert-danger alert-dismissible fade show   m-alert m-alert--air" role="alert" style="display:none;">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
									<h6 id="page_error"></h6>
							</div> -->
			<div class="header_stick" style="background-color: white;z-index:10;">
				<div class="m-portlet__head" style="padding: 0px;margin: 0px;">
					<div class="m-portlet__head-progress">
					<!-- here can place a progress bar-->
					</div>
					<div class="m-portlet__head-wrapper">
						<div class="m-portlet__head-caption" style="width: 100%">
							<div class="m-portlet__head-title " style="width: 50%">
								<span class="m-portlet__head-icon">
									<i class="la " id ="icon"></i>
								</span>
								  	<h3 class="m-portlet__head-text title" id="title" style="color:#5C9BD1"></h3>
							</div>
							
							<div class="dropdown dropright managestock-items" align="right" style="width: 50%" >
								<button class="btn btn--sm m-btn--pill btn-secondary m-btn--label-brand " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Sort By <i class = "la la-sort"></i>
								</button>
								
								<div class="dropdown-menu width-changes" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);z-index:20">
									
									<a class="dropdown-item" href="#" data-toggle="m-tooltip" title="" data-placement="right" data-skin="dark" data-container="body" id="purchaseOrsell_1" onclick ="AtoZ(this);">
										<i class="m-nav__link-icon fa fa-arrow-down"></i>
											<span class="m-nav__link-text">Item (A to Z)</span>
									</a>
									<a class="dropdown-item" href="#" data-toggle="m-tooltip" title="" data-placement="right" data-skin="dark" data-container="body" id="purchaseOrsell_2" onclick ="ZtoA(this);">
										<i class="m-nav__link-icon fa fa-arrow-up"></i>
											<span class="m-nav__link-text">Item (Z to A)</span>
									</a>
																									
								</div>
								
							</div>
							<div class="dropdown dropright cc-items" align="right" style="width: 50%;display:none">
								<button class="btn btn--sm m-btn--pill btn-secondary m-btn--label-brand" type="button" id="dropdownMenuButton_1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Sort By <i class = "la la-sort"></i>
								</button>
								
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);z-index:20">
									
									<a class="dropdown-item" href="#" data-toggle="m-tooltip" title="" data-placement="right" data-skin="dark" data-container="body" id="cc_itemsShow1" onclick ="AtoZ(this);">
										<i class="m-nav__link-icon fa fa-arrow-down"></i>
											<span class="m-nav__link-text">Item (A to Z)</span>
									</a>
									<a class="dropdown-item" href="#" data-toggle="m-tooltip" title="" data-placement="right" data-skin="dark" data-container="body" id="cc_itemsShow2" onclick ="ZtoA(this);">
										<i class="m-nav__link-icon fa fa-arrow-up"></i>
											<span class="m-nav__link-text">Item (Z to A)</span>
									</a>															
								</div>
								
							</div>
						</div>
						<div class="header-stick m_sweetalert_demo_8 three_buttons" style="z-index:10;background-color:white;display: contents;">
							<h3 class="m-portlet__head-text title title_style" style="display:none;color:#5C9BD1;" ></h3>		
							<div class="m-portlet__head-tools"
								style="padding: 0px; margin: 0px; width: 100%;" align="right" >
									<div align="right" style="width: 50%; padding: 2px;">
										<button type="button"
											class="btn btn-secondary  m-btn--air m-btn m-btn--custom  btn-block manage_back" onclick="loadManageStock()">
											Back</button>
										<button type="button"
											class="btn btn-secondary  m-btn--air m-btn m-btn--custom  btn-block cc_back" style="display: none;"
											 onclick="onScrollValue= false;loadCredit();if(window.sessionStorage.getItem('previewItems')!= undefined && window.sessionStorage.getItem('previewItems')!= null && window.sessionStorage.getItem('previewItems')!= '') window.sessionStorage.removeItem('previewItems');">
											Back</button>
									</div>
									<div align="right" style="width: 50%; padding: 2px;">
										<!-- <button type="button"
											class="btn btn-primary  m-btn--air m-btn m-btn--custom btn-block on_save" onclick="onSave()" id="save">Save</button> -->
											 <button type="button"
											class="btn btn-primary  m-btn--air m-btn m-btn--custom btn-block on_save" onclick="$('#loaderDiv').show();onSaveItem()" id="save">Save</button>
									<!-- 	<button type="button"
											class="btn btn-primary  m-btn--air m-btn m-btn--custom btn-block credit_items_save" style="display:none" onclick="saveCreditItems(this)" id=":cc_id">Save</button> -->
									  		<!-- <button type="button"
											class="btn btn-primary  m-btn--air m-btn m-btn--custom btn-block credit_items_save m-badge--danger m_sweetalert_demo_8" style="display:none" id=":cc_id" onclick="previewCreditItems(this)previewItemsInVoice">Preview</button> -->
											<!-- <button type="button"
											class="btn btn-primary  m-btn--air m-btn m-btn--custom btn-block credit_items_save m-badge--danger m_sweetalert_demo_8" style="display:none" id=":cc_id" onclick="previewItemsInVoice(this)">Preview</button>   -->
											 <button type="button"
											class="btn btn-primary  m-btn--air m-btn m-btn--custom btn-block credit_items_save m-badge--danger m_sweetalert_demo_8" style="display:none" id=":cc_id" onclick="previewInvoice(this)">Preview</button> 
									</div>
							</div>
							
							
							<!-- <div class="m-portlet__head-tools manage_serach" style="padding: 0px;margin: 0px;width: 100%" align="right">
								<div align="right" style="width:100%;" class="">
								<div class="m-input-icon m-input-icon--right " style="/* width:83%; */padding-top: 5px;">
									<input type="text" class="form-control m-input for_auto_complete" id="myInput" placeholder="Search" onkeyup="forClosing()" autocomplete="off">
									<span class="m-input-icon__icon m-input-icon__icon--right "><span><i class="close_action la" style="color: #716aca;"></i></span></span>
								</div>
								
								<div class="m-input-icon m-input-icon--right" style="width:10%;">
										<button  class="btn btn-brand m-btn m-btn--icon scaner" data-toggle="modal" data-target="#m_modal_3" style="height:40px" id="118" >
											sca
										</button>
									</div>		
								</div>
								
							</div> -->
							
							
							
							
							
							
							
							
							 <div class="m-portlet__head-tools " style="padding: 0px;margin: 0px;width: 100%;margin-bottom: 1px" align="right">
								<div align="right" style="width:100%;" class="row pl-3">
								<div class="m-input-icon m-input-icon--right ml-1 search_class">
									<input type="text" class="form-control m-input for_auto_complete cusItemsSerach" id="myInput" placeholder="Search" onkeyup ="forClosing()" autocomplete="off" spellcheck="false" >
									<span class="m-input-icon__icon m-input-icon__icon--right " ><span><i class="close_action la" style="color: #716aca;"></i></span></span>
								</div>
								<div class="m-input-icon m-input-icon--right ml-1 scan_button" style="width:10%;">
									
									<button type="button" class="btn btn-primary scaner" id=":userId">Scan</button>
								</div>
								
								</div>
								
							</div>
						</div> 
					</div>		
				</div> </div>
				<div class="m-portlet__body" style="padding : 0px;margin: 0px;width:95%">
					<div class="tab-content">
						<div class="tab-pane active" id="m_widget5_tab1_content" aria-expanded="true">
							<div class="list_margin m-widget5 purchase_widget mt-sm-2" id="list" style="margin-top: 5px;"></div>	
							<div id="paginationLoader" class="m-loader m-loader--brand paginationLoader" style="display:none"></div> 
							
						</div>			
					</div>
				</div>
			</div>
						
		</div>
		<!--begin::Modal-->

						<!--  <div class="modal fade" id="m_modal_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
=======
						  <div class="modal fade" id="m_modal_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
>>>>>>> Stashed changes
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="title">Invoice</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body" style="padding:12px">
										
									
									
										<div class="m-invoice-2">
											<div class="m-invoice__body m-invoice__body--centered"></div>
											<div class="table-responsive">
											<table class="table" style="display: block;
   																 width: 100%;
  																		 overflow-x: auto;
   																 -webkit-overflow-scrolling: touch;
  																	  -ms-overflow-style: -ms-autohiding-scrollbar;">
												<thead>
													<tr>
														<th>ITEM NAME</th>
														<th  class="text-right">QUANTITY</th>
														<th  class="text-right">MRP</th>
														<th  class="text-right">AMOUNT</th>
													</tr>
												</thead>
												<tbody id="previewItems" >
														<td colspan="4">Please select the items</td>
														
												</tbody>
											</table>
											</div>
											<table class="table">
												<thead>
													<tr>
														<th>TOTAL AMOUNT</th>
														<td></td>
														<td></td>
														<td align="center">
															<span class="pull-right"><label id="totalAmount"></label> Rs</span>
														</td>
													</tr>
												</thead>
												<tbody>
													<tr>
														<th>CREDIT</th>
														<td></td>
														<td></td>
														<td  align="center">
															<span class="pull-right"><label id="totalAmountCredit"></label> Rs</span>
														</td>
													</tr>
													<tr>
														<th>PAID</th>
														<td></td>
														<td></td>
														<td  align="right">
														
															<table>
																<tr>
																	<td align="right" style="padding:1px">
																		<input class="form-control input-group input-group-sm"  style="width: 90px;text-align:right;height:15px;border:0.5px solid" id="totalAmountPaid" type="text" onkeyup="onPaidUpdate()"></input>
																		
																		
																	</td>
																	 <td align="right" style="padding:1px">
																		Rs
																	</td> 
																</tr>
															</table>
														</td>
													</tr>
													
												</tbody>
											</table>
										
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										<button type="button" class="btn btn-primary" onclick="saveCreditItems(this)">Submit</button>
									</div>
								</div>
							</div>
						</div> 

						<!--end::Modal-->
				<!--begin::Modal-->
						  <div class="modal fade" id="m_modal_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="title">Invoice</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body" style="padding:12px">
										<div class="m-portlet__body m-portlet__body--no-padding">
											<div class="m-invoice-2">
												<div class="m-invoice__wrapper">
													<div class="m-invoice__head" style="background-image: url(../../assets/app/media/img//logos/bg-6.jpg);">
												</div>
											<div class="m-invoice__body m-invoice__body--centered">
												<div class="table-responsive">
													<table class="table">
														<thead width="80%">
															<tr>
																<th style="padding-right:1.8px">ITEM NAME</th>
																<th  class="text-right">QTY</th>
																<th  class="text-right">MRP</th>
																<th  class="text-right">AMOUNT</th>
																<!-- <th width="15px"></th> -->
															</tr>
														</thead>
														<tbody id="previewItems">
														</tbody>  
													</table>
												</div>
												<div>
												<table class="table">
													<thead>
														<tr>
															<th>Current Purchase</th>
															<th></th>
															<th></th>																	
															<th align="center">
																<span class="pull-right "><label id="totalAmount" class="m--font-danger"></label> </span>
															</th>
														</tr>
														<!-- <tr>
															<th>TA+PENDING AMOUNT</th>
															<th></th>
															<th></th>
															<th align="center">
																 <span class="pull-right"><label id="TaPlusPa"></label>&nbsp;<span>+</span>&nbsp;<span id="pa"></span></span>
																  
															</th>
														</tr> -->
														<tr>
															<th>Previous Credit</th>
															<th></th>
															<th></th>
															<th align="center">
																<span class="pull-right"><label id="previousCredit"></label> </span>
															</th>
														</tr>
														<tr>
															<th>Current Credit</th>
															<th></th>
															<th></th>
															<th align="center">
																<span class="pull-right"><label id="totalAmountCredit"></label> </span>
															</th>
														</tr>
														<tr valign="middle" id="showDiscountColumn" >
															<th style="padding-bottom:20px;">Discount Amount</th>
															<th></th>
															<th>
															</th>
															<th >
																<input class="form-control input-group input-group-sm pull-right text-right"  style="width:120px;border:0.5px solid;" id="discount" type="text" onkeyup="onPaidUpdate(this)" onchange="onPaidUpdate(this)" oninput="onPaidUpdate(this)"></input>
															</th>  
														</tr>
														<tr valign="middle">
															<th style="padding-bottom:20px;">Paid Amount</th>
															<th></th>
															<th>
															</th>
															<th align="center" >
																<input class="form-control input-group input-group-sm pull-right text-right"  style="width:120px;border:0.5px solid;" id="totalAmountPaid" type="text" onkeyup="onPaidUpdate(this)" onchange="onPaidUpdate(this)" oninput="onPaidUpdate(this)"></input>
															</th>  
														</tr>
														<tr>
															<th>Final Credit</th>
															<th></th>
															<th></th>
															<th align="center">
																<span class="pull-right"><label id="finalCredit"></label> </span>
															</th>
														</tr>
													</thead>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" onclick="$('#loaderDiv').show();saveCreditItems(this,null)" id="save/:cc_id">Save</button>
							<button type="button" class="btn btn-primary print" onclick="$('#loaderDiv').show();saveCreditItems(this,'whatsapp');" id="whatsup/:cc_id">Save & Whatsapp</button>
<!-- 							<button type="button" class="btn btn-primary" onclick="printJS({printable:'pages/sample.pdf', type:'pdf', showModal:true})" id="whatsup/:cc_id">Save & Whatsapp</button>
 -->							<!-- <a href="#" class="btn btn-primary" onclick="saveCreditItems(this,'whasapp')">
											<i class="la la-whatsapp">Submit & Whatsapp</i>
							</a>	 -->
						</div>
					</div>
				</div>
			</div> 
	<!--end::Modal-->
						
						
						
					
						
						
						
						
						
						
						
						