
						<!--Begin::Section-->
						<div class="row">
							<div class="col-xl-12">

								<!--begin:: Widgets/Best Sellers-->
								<div class="m-portlet m-portlet--full-height ">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">
													Settings
												</h3>
											</div>
										</div>
										<div class="m-portlet__head-tools">
											<ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
												<li class="nav-item m-tabs__item">
													<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_widget5_tab1_content" role="tab">
														On Hand Stock
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="m-portlet__body">

										<!--begin::Content-->
										<div class="tab-content">
											<div class="tab-pane active" id="m_widget5_tab1_content" aria-expanded="true">

												<!--begin::m-widget5-->
												<div class="m-widget5">
													<div class="m-widget5__item">
														<div class="m-widget5__content">
															<div class="m-widget5__pic">
																<img class="m-widget7__img" src="assets/app/media/img//products/product6.jpg" alt="">
															</div>
															<div class="m-widget5__section">
																<h4 class="m-widget5__title">
																	Great Logo Designn
																</h4>
																<span class="m-widget5__desc">
																	Make Metronic Great Again.Lorem Ipsum Amet
																</span>
																<div class="m-widget5__info">
																	<span class="m-widget5__author">
																		Author:
																	</span>
																	<span class="m-widget5__info-label">
																		author:
																	</span>
																	<span class="m-widget5__info-author-name">
																		Fly themes
																	</span>
																	<span class="m-widget5__info-label">
																		Released:
																	</span>
																	<span class="m-widget5__info-date m--font-info">
																		23.08.17
																	</span>
																</div>
															</div>
														</div>
														<div class="m-widget5__content">
															<div class="m-widget5__stats1">
																<span class="m-widget5__number">19,200</span><br>
																<span class="m-widget5__sales">sales</span>
															</div>
															<div class="m-widget5__stats2">
																<span class="m-widget5__number">1046</span><br>
																<span class="m-widget5__votes">votes</span>
															</div>
														</div>
													</div>
													<div class="m-widget5__item">
														<div class="m-widget5__content">
															<div class="m-widget5__pic">
																<img class="m-widget7__img" src="assets/app/media/img//products/product10.jpg" alt="">
															</div>
															<div class="m-widget5__section">
																<h4 class="m-widget5__title">
																	Branding Mockup
																</h4>
																<span class="m-widget5__desc">
																	Make Metronic Great Again.Lorem Ipsum Amet
																</span>
																<div class="m-widget5__info">
																	<span class="m-widget5__author">
																		Author:
																	</span>
																	<span class="m-widget5__info-author m--font-info">
																		Fly themes
																	</span>
																	<span class="m-widget5__info-label">
																		Released:
																	</span>
																	<span class="m-widget5__info-date m--font-info">
																		23.08.17
																	</span>
																</div>
															</div>
														</div>
														<div class="m-widget5__content">
															<div class="m-widget5__stats1">
																<span class="m-widget5__number">24,583</span><br>
																<span class="m-widget5__sales">sales</span>
															</div>
															<div class="m-widget5__stats2">
																<span class="m-widget5__number">3809</span><br>
																<span class="m-widget5__votes">votes</span>
															</div>
														</div>
													</div>
													<div class="m-widget5__item">
														<div class="m-widget5__content">
															<div class="m-widget5__pic">
																<img class="m-widget7__img" src="assets/app/media/img//products/product11.jpg" alt="">
															</div>
															<div class="m-widget5__section">
																<h4 class="m-widget5__title">
																	Awesome Mobile App
																</h4>
																<span class="m-widget5__desc">
																	Make Metronic Great Again.Lorem Ipsum Amet
																</span>
																<div class="m-widget5__info">
																	<span class="m-widget5__author">
																		Author:
																	</span>
																	<span class="m-widget5__info-author m--font-info">
																		Fly themes
																	</span>
																	<span class="m-widget5__info-label">
																		Released:
																	</span>
																	<span class="m-widget5__info-date m--font-info">
																		23.08.17
																	</span>
																</div>
															</div>
														</div>
														<div class="m-widget5__content">
															<div class="m-widget5__stats1">
																<span class="m-widget5__number">10,054</span><br>
																<span class="m-widget5__sales">sales</span>
															</div>
															<div class="m-widget5__stats2">
																<span class="m-widget5__number">1103</span><br>
																<span class="m-widget5__votes">votes</span>
															</div>
														</div>
													</div>
												</div>

												<!--end::m-widget5-->
											</div>
										</div>

										<!--end::Content-->
									</div>
								</div>

								<!--end:: Widgets/Best Sellers-->
							</div>
						</div>

						<!--End::Section-->
					