	<div class="main">
		<div class="m-portlet m-portlet--last m-portlet--head-lg m-portlet--responsive-mobile m-portlet--head-solid-bg " id="main_portlet" style="padding: 5px">
			<div class="" style="background-color: white;z-index:10;margin-top: -4.9px;">
			<div class="header_stick" style="background-color: white;z-index:10;">
				<div class="m-portlet__head" style="padding: 0px;margin: 0px;">
					<div class="m-portlet__head-progress">
					</div>
					<div class="m-portlet__head-wrapper">
						<div class="m-portlet__head-caption hiddencontent" style="width: 100%">
							<div class="m-portlet__head-title" style="width: 50%">
								<a href="#" onclick="loadHome()" class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only" style="margin-right: 15px">
									<i class="la la-home"></i>
								</a>				
								<h3 class="m-portlet__head-text">Setup</h3>
							</div>
							<div class="dropdown dropright" align="right" style="width: 50%;padding-right: 1px;">
								<button class="btn btn--sm m-btn--pill btn-secondary m-btn--label-brand" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Sort By <i class = "la la-sort"></i>
								</button>
							<div class="dropdown-menu width-changes" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px;z-index:1px; transform: translate3d(0px, 40px, 0px);">
								<a class="dropdown-item" href="#" data-toggle="m-tooltip" title="" data-placement="right" data-skin="dark" data-container="body" id="setup_1" onclick ="AtoZ(this)">
									<i class="m-nav__link-icon fa fa-arrow-down"></i>
										<span class="m-nav__link-text">Item (A to Z)</span>
								</a>
								<a class="dropdown-item" href="#" data-toggle="m-tooltip" title="" data-placement="right" data-skin="dark" data-container="body" id="setup_2" onclick ="ZtoA(this)">
									<i class="m-nav__link-icon fa fa-arrow-up"></i>
										<span class="m-nav__link-text">Item (Z to A)</span>
								</a>
								<!-- <a class="dropdown-item" href="#" data-toggle="m-tooltip" title="" data-placement="right" data-skin="dark" data-container="body" id="setup_3" onclick ="quantityLowToHigh(this)">
									<i class="m-nav__link-icon fa fa-arrow-down"></i>
										<span class="m-nav__link-text">Quantity (Low to High)</span>
								</a>
								<a class="dropdown-item" href="#" data-toggle="m-tooltip" title="" data-placement="right" data-skin="dark" data-container="body" id="setup_4" onclick ="quantityHighToLow(this)">
									<i class="m-nav__link-icon fa fa-arrow-up"></i>
										<span class="m-nav__link-text">Quantity (High to Low)</span>
								</a> -->
					<!--  			<a class="dropdown-item" href="#" data-toggle="m-tooltip" title="" data-placement="right" data-skin="dark" data-container="body" id="setup_5" onclick ="priceLowToHigh(this)">
									<i class="m-nav__link-icon fa fa-arrow-down"></i>
										<span class="m-nav__link-text">Price (Low to High)</span>
								</a>
								<a class="dropdown-item" href="#" data-toggle="m-tooltip" title="" data-placement="right" data-skin="dark" data-container="body" id="setup_6" onclick ="priceHighToLow(this)">
									<i class="m-nav__link-icon fa fa-arrow-up"></i>
										<span class="m-nav__link-text">Price (High to Low)</span>
								</a>-->
							</div>
						</div>
						<!-- <input class="form-control" id="sort_append_value" type="text" style="display:none"></input> -->
					</div>
					<div id="add_item_success"></div>
					<div class="m-portlet__head-tools" style="padding: 0px;margin: 0px;width: 100%;margin-bottom:-4px" align="right">
						
						<div align="right" style="width:90%;" >
						<div class="m-input-icon m-input-icon--right">
							<input type="text" class="form-control m-input for_auto_complete" id="myInput"  placeholder="Search" onkeyup ="forClosing()" autocomplete="off" spellcheck="false">
							<span class="m-input-icon__icon m-input-icon__icon--right " ><span><i class="close_action la" style="color: #716aca;"></i></span></span>
<!-- 							<span class="m-input-icon__icon m-input-icon__icon--right "><span  onclick="scan()" class="barcode"><i class ="la la-barcode fa-2x" style="color: black;"></i></span></span>
 -->										</div>
						</div>
						<div align="right" style="width:10%;">
							 <a href="#" class="btn btn-brand m-btn m-btn--icon m-btn--icon-only" data-toggle="modal" data-target="#m_modal_8" style="height:40px" onclick="setTimeout(function(e){$('#newItemName').focus();scanPageId = 'settings';},800);">
								<i class="la flaticon-add-circular-button"></i>
							</a> 
							
							
							
							
							
							
						</div>	
					</div> 
																	
				
				</div>
			</div></div>
		</div>
		<div class="m-portlet__body" style="padding:0px;margin: 0px;">
			<form class="m-form m-form--label-align-left- m-form--state-" id="m_form" style="background-color: white;">
				<!--begin: Form Body -->
				<div class="m-portlet__body" style="padding : 0px;">
				<!--begin::Content-->
					<div class="tab-content">
						<div class="tab-pane active" id="m_widget5_tab1_content" aria-expanded="true">
						<!--begin::m-widget5-->
						
							<div class="list_margin m-widget5 mt-sm-2" id="list" align="left"style="margin-bottom: -23px;"> 
							<!--  data-axis="xy"  class="m-scrollable touch scrollbar" data-scrollbar-shown="true" data-scrollable="true" data-max-height="500" style="height: 500px;  overflow: scroll;" align="left">-->
							</div>
							<div id="paginationLoader" class="m-loader m-loader--brand paginationLoader" style="display:none"></div> 				
							<!--end::m-widget5-->
						</div>
					</div>		
					<!--end::Content-->
					<!--End::Section-->
				</div>
			</form>
		</div>
	</div>	
	
	<!--begin::Modal-->
	<div class="modal fade" id="m_modal_8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
				</div>
				<div class="modal-body">
				 <!--  	<form >
						<div class="form-group">
							<label for="recipient-name" class="form-control-label">Item Name:</label>
								<input type="text" class="form-control" id="newItemName"  >
						</div>
							<div class="form-group">
								<label for="message-text" class="form-control-label">Item Description:</label>
									<input type="text" class="form-control" id="newItemDesc" ></input>
							</div>
							<div class="form-group">
								<label for="message-text" class="form-control-label">Buy :</label>
									<input type="text" class="form-control" id="newItempurchase"></input>
							</div>
							<div class="form-group">
								<label for="message-text" class="form-control-label" pattern ="[0-9]{10}">MRP :</label>
									<input type="text" class="form-control" id="newItemMrp" ></input>
							</div>
							<div class="form-group">
								<label for="message-text" class="form-control-label">UOM :</label>
									<select class="form-control m-input m-input--square" id="newItemUOM" value ="select UOM"  >
										<option value="" selected disabled hidden>Select UOM</option>
										<option>Each</option>
										<option>Litre</option>
										<option>KG</option>
									</select>
							</div>
							<div class="form-group">
								<label for="message-text" class="form-control-label">Quantity :</label>
									<input class="form-control" id="newQuantity" title="please enter input" required ></input>
							</div>
							<div class="form-group">
								<label for="message-text" class="form-control-label">Quantity Indication Value :</label>
									<input class="form-control" id="minimuQuantityValue"  ></input>
							</div>
							<div class="form-group" style="display: none">
								<input class="form-control" id="itemId"></input>
									<input class="form-control" id="purchaseOld"></input>
										<input class="form-control" id="sellingOld"></input>
							</div>
						</form> -->
									<form class="m-login__form m-form add_item" action="">
										<div id ="add_item_error"></div>	
										<div class="form-group m-form__group">
											<label for="message-text" class="form-control-label">Item Name:</label>
											<input class="form-control m-input" type="text" placeholder="Item Name" name="ItemName" id="newItemName" required spellcheck="false">
										</div>
										<!-- <div class="form-group m-form__group">
											<label for="message-text" class="form-control-label scaner">UPC:<span class="col-2" style="color:mediumslateblue;"><i class="la la-barcode "></i>scan</span></label>
											<input class="form-control m-input" type="text" placeholder="UPC" name="UPC" id="upc" >
										</div> -->
										<div class="form-group m-form__group">
										<label for="message-text" class="form-control-label">Item Description:</label>
											<input class="form-control m-input" type="text" placeholder="Item Description" name="ItemDescription" id="newItemDesc" spellcheck="false">
										</div> 
										<div class="form-group m-form__group">
											<label for="message-text" class="form-control-label">UPC:</label>
											<label for="message-text" class=" form-control-label la la-barcode scaner" style="color:mediumslateblue;" id=":userId">scan</label>
											<input class="form-control m-input" type="text" placeholder="UPC" name="UPC" id="upc" >
										</div>
										<div class="form-group m-form__group">
											<label for="message-text" class="form-control-label">Price :</label>
											<input class="form-control m-input" type="number" placeholder="INR" name="Buy" id="newItempurchase"  pattern ="[0-9.]+"  required>
										</div>
										<div class="form-group m-form__group">
											<label for="message-text" class="form-control-label" >MRP :</label>
<!-- 											<input class="form-control m-input" type="number" placeholder="INR" name="MRP" id="newItemMrp"  pattern ="[0-9.]+"  onkeyup="var newItemGST = $('#newItemGST').val();gstCalculate(this.value,newItemGST)"  onchange="gstCalculate(this.vale,newItemGST)" value="" required>
 -->											<input class="form-control m-input" type="number" placeholder="INR" name="MRP" id="newItemMrp"  pattern ="[0-9.]+"  value="" required>
 
 											</div>
										<div class="form-group m-form__group">
											<label for="message-text" class="form-control-label">UOM :</label>
												<select class="form-control m-input m-input--square" id="newItemUOM" value ="select UOM" name="UOM" required>
													<option value="" selected disabled hidden>Select UOM</option>
													<option>Each</option>
													<option>Litre/ML</option>
													<option>KG/Grams</option>
												</select>									
										</div>
										<!-- <div class="form-group m-form__group" id="gstTag">
											<label for="message-text" class="form-control-label">GST% :</label>
												<select class="form-control m-input m-input--square" id="newItemGST" value ="select GST" name="GST" disabled onchange="var newItemMrp =$('#newItemMrp').val(); gstCalculate(newItemMrp,this.value)">
													<option value="" selected disabled hidden>Select GST%</option>
													<option>5%</option>
													<option>12%</option>
													<option>18%</option>
													<option>28%</option>
												</select>									
										</div> -->
										<div class="form-group m-form__group">
											<label for="message-text" class="form-control-label" >Quantity :</label>
											<input class="form-control m-input" type="number" placeholder="Quantity" name="Quantity" id="newQuantity"  pattern ="[0-9.]+"  required>
										</div>
										<div class="form-group m-form__group">
											<label for="message-text" class="form-control-label">Minimum Quantity :</label>
											<input class="form-control m-input" type="number" placeholder="Minimum Quantity" name="QuantityIndicationValue" id="minimuQuantityValue" pattern ="[0-9.]+">
										</div>
										<div class="form-group m-form__group">
											<label for="message-text" class="form-control-label">Item Image:</label>
											<input class="form-control m-input" type="file" name="file" accept="image/*" id="addImage"/>
										</div>
										<div class="form-group" style="display: none">
											<input class="form-control" id="itemId"></input>
												<input class="form-control" id="purchaseOld"></input>
													<input class="form-control" id="sellingOld"></input>
										</div>
						</form> 
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary clear_model_form" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" onclick="$('#loaderDiv').show();addItem()">Add</button>
				</div>
			</div>
		</div>
	</div>
	<!--end::Modal-->
	
	
	
	<!--begin::Modal-->
	<div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Edit Item</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
				</div>
				<div class="modal-body">
			 	<!-- 	 <form>
						<div class="form-group">
							<label for="recipient-name" class="form-control-label">Item Name:</label>
								<input type="text" class="form-control" id="itemName">
						</div>
							<div class="form-group">
								<label for="message-text" class="form-control-label">Item Description:</label>
									<input class="form-control" id="itemDescription"></input>
							</div>
							<div class="form-group">
								<label for="message-text" class="form-control-label">Buy :</label>
									<input class="form-control" id="purchase"></input>
							</div>
							<div class="form-group">
								<label for="message-text" class="form-control-label" pattern ="[0-9]{10}">MRP :</label>
									<input class="form-control" id="selling"></input>
							</div>
							<div class="form-group">
								<label for="message-text" class="form-control-label">UOM :</label>
									<select class="form-control m-input m-input--square" id="uom">
										<option value="" selected disabled hidden>Select UOM</option>
										<option>Each</option>
										<option>Litre</option>
										<option>KG</option>
									</select>
							</div>
							<div class="form-group">
								<label for="message-text" class="form-control-label">Quantity Indication Value :</label>
									<input class="form-control" id="minimuQuantityforItem">
							</div>
							<div class="form-group" style="display: none">
								<input class="form-control" id="itemId"></input>
									<input class="form-control" id="purchaseOld"></input>
										<input class="form-control" id="sellingOld"></input>
							</div>
						</form> -->
					 	<form class="m-login__form m-form edit_item" action="" >
					 			<div id ="edit_item_error"></div>	
										<div class="form-group m-form__group">
											<label for="message-text" class="form-control-label">Item Name:</label>
											<input class="form-control m-input itemName" type="text" placeholder="Item Name" name="ItemName" required spellcheck="false">
										</div>
										<div class="form-group m-form__group">
										<label for="message-text" class="form-control-label">Item Description:</label>
											<input class="form-control m-input itemDescription" type="text" placeholder="Item Description" name="ItemDescription" spellcheck="false" >
										</div>
										<div class="form-group m-form__group">
										<label for="message-text" class="form-control-label">UPC:</label>
											<label for="message-text" class=" form-control-label la la-barcode scaner" style="color:mediumslateblue;" id=":userId">scan</label>
											<input class="form-control m-input upcCode" type="text" placeholder="Upc Code" name="upcCode" >
										</div>
										<div class="form-group m-form__group">
											<label for="message-text" class="form-control-label">Price :</label>
											<input class="form-control m-input purchase" type="number" placeholder="Buy" name="Buy"   pattern ="[0-9.]+"  required>
										</div>
										<div class="form-group m-form__group">
											<label for="message-text" class="form-control-label" >MRP :</label>
											<input class="form-control m-input selling" type="number" placeholder="MRP" name="MRP"  pattern ="[0-9.]+"  required>
										</div>
										<div class="form-group m-form__group">
											<label for="message-text" class="form-control-label">UOM :</label>
												<select class="form-control m-input m-input--square uom"  value ="select UOM" name="UOM" required>
													<option value="" selected disabled hidden>Select UOM</option>
													<option>Each</option>
													<option>Litre/ML</option>
													<option>KG/Grams</option>
												</select>									
										</div>
										<div class="form-group m-form__group">
											<label for="message-text" class="form-control-label">Minimum Quantity :</label>
											<input class="form-control m-input minimuQuantityforItem" type="number" placeholder="Minimum Quantity" name="QuantityIndicationValue"  pattern ="[0-9.]+">
										</div>
										<div class="form-group m-form__group">
											<label for="message-text" class="form-control-label">Item Image:</label>
											<input class="form-control m-input image_value" type="file" name="file" accept="image/*">
										</div>
										 <div class="form-group" style="display:none">
											<input class="form-control itemId" ></input>
												<input class="form-control purchaseOld" ></input>
													<input class="form-control sellingOld" ></input>
										</div> 
						</form> 
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary save_item" onclick="$('#loaderDiv').show();saveItem(this)">Save</button>
				</div>
			</div>
		</div>
	</div>
	<!--end::Modal-->
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
		
	
</div>
								
			
				