<div class="m-grid m-grid--hor m-grid--root m-page  ">
			
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2" id="m_login" style="background-color:#282B3C">
				<div class="text-center">
						<button type="button" class="close badge badge-primary pull-left button_1" aria-label="Close" style="padding: 1.3px; display: none;">
  							 <span aria-hidden="true" style="padding: 10px;color: #706ac9; font-size: 35px;">×</span>
  							<!-- <span aria-hidden="true"><i class="fa fa-close" style="font-size:48px;color:red">&times;</i></span> -->
						</button>
						<button type="button" id="button_2" class="close badge badge-primary pull-left button_2" aria-label="Close" style="padding: 1.3px;">
  							<span aria-hidden="true" style="padding: 10px;color: #706ac9; font-size: 35px;">×</span>
						</button>
						<button type="button" id="button_3" class="close badge badge-primary pull-left button_2" aria-label="Close" style="padding: 1.3px; display: none;">
  							<span aria-hidden="true" style="padding: 10px;color: #706ac9; font-size: 35px;">×</span>
						</button>
						</div>
				<div class="m-grid__item m-grid__item--fluid m-login__wrapper">
					
					<!-- </div> -->
					<div class="m-login__container">
						<div class="m-login__logo" align="center">
							<a href="#">
								<img src="assets/app/media/img/logos/rsz_1rsz_13-1.png">
							</a>
						</div>
						<!-- <div class="m-login__signin" style="display: none;">
							<div class="m-login__head">
								<h3 class="m-login__title">Sign In </h3>
							</div>
							<form class="m-login__form m-form" action="">
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="number" autocomplete="off" placeholder="Mobile" name="mobile" id="mobile" maxlength="10" autofocus="" pattern="[0-9]{10}" title="Please enter 10 Digits mobile number" oninput="this.value=this.value.slice(0,this.maxLength)">
								</div>
								<div class="form-group m-form__group">
									<div class="m-input-icon m-input-icon--right">
										<input class="form-control m-input m-login__form-input--last" type="password" autocomplete="off" placeholder="Password" name="password" id="password" title="Enter Password">
										<span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fa fa-eye toggle-password-login" toggle="#password"></i></span></span>
									</div>
								</div>
					 			<div class="row m-login__form-sub">
								<div class="col m--align-left m-login__form-left">
										<label class="m-checkbox  m-checkbox--light">
											<input type="checkbox" id="remember" name="remember"> Remember me
											<span></span>
										</label>
									</div>
									<div class="col m--align-right m-login__form-right">
										<a href="javascript:;" id="m_login_forget_password" class="m-link">Forget Password ?</a>
									</div>
								</div> 	
								<div class="m-login__form-action">
									<button id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn">Sign In</button>
								</div>
							</form>
						</div> -->
						<div class="m-login__signup" style="display: none;">
							<div class="m-login__head">
								<h3 class="m-login__title forget_password_title">Sign Up</h3>
 								<!--<div class="m-login__desc">Enter your details to create your account:</div>
 										<!-- <div>
 											<label id="values_1" style="font-family: sans-serif;font-size: 15px;"class="m-login__desc">
 											</label><span class="pull-right"><a href="#" class="badge badge-dark click" style="color: blueviolet; margin-left: 20px;" > 
												Change plan<i class='fa flaticon-edit'></i></a></span>	
 										</div> -->
							</div>
							<form class="m-login__form m-form sign_up_form sign_up_forms" action="">
								<div class="alert alert-danger alert-dismissible fade show  m-alert m-alert--air" role="alert" style="display:none;">Enter correct mobile number</div>
								<div class="alert alert-success alert-dismissible fade show  m-alert m-alert--air alert_2" role="alert" style="display:none;">OTP sent successfully</div>
								<div class="row form-group m-form__group m-login__form-sub">
									<div class="col m--align-left">
										<label class="m-login__desc" style="font-size: 16px;font-family: cursive;">
    										<span></span>
										</label>
										<span><a href="#" class=" click pull-right" style="color: blueviolet; font-size: 12px;"> 
												Edit plan<i class="fa flaticon-edit"></i></a></span>	
									</div>
								</div>
								  <div class="form-group m-form__group">
									<input class="form-control m-input" type="text" placeholder="Shop Name" name="shopName" id="shopname" title="Enter shop name" autofocus="" spellcheck="false">
								</div>  
								<div class="form-group m-form__group">
									 <div class="m-input-icon m-input-icon--left m-input-icon--right">
										<input type="number" class="form-control m-input m-input--pill m-input--air" placeholder="Mobile" name="mobileNumber" id="number" maxlength="10" pattern="[0-9]{10}" title="Please enter 10 Digits mobile number" oninput="this.value=this.value.slice(0,this.maxLength)" autocomplete="off">
 											<span class="m-input-icon__icon m-input-icon__icon--right">
 												<button type="button" class="m_sweetalert_demo_8 btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air btn-sm m-login__btn" style="margin-left: -30px;height: 41.2px;padding: 8px;">Send OTP</button><span><i class="success_ok success" style="color: seagreen;"></i></span>
											</span>
									</div> 
									 <!-- <div class="input-group m-input-group m-input-group--pill">
										<input class="form-control m-input" type="text" placeholder="Mobile" name="mobileNumber" id="number" 
											maxlength="10" pattern ="[0-9]{10}" title="Please enter 10 Digits mobile number">
										<button type="button" class="m_sweetalert_demo_8 btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air btn-sm m-login__btn" 
											style="margin-top: 20px; margin-left: 10px;margin-right: -8px;">Send OTP</button>
   											<span><i class="success_ok" style="padding: 5px;margin-top: 26px;color: #34bfa3;"></i></span>
                      
									</div> --> 
								</div>
								<!-- <div class="form-group m-form__group">
									<div class="m-input-icon m-input-icon--right">
									<input class="form-control m-input" type="password" placeholder="Password" name="password" id="register_password" title="Enter valid password" data-toggle="password" 
										pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&#])[A-Za-z\d@$!%*?&#]{8,}$"  >
									<span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fa fa-eye toggle-password-signup" toggle="#register_password" ></i></span></span>
									</div>
								</div>
								<p><a class="pop-me-over"data-container="body" data-toggle="m-tooltip" title="<p>Password should be minimum<strong><i>8<i><strong>characters with atleast 
									<strong><i>one capital letter,special chracter and a number<i></strong></p>" 
									data-html="true" data-content="And here's some amazing <b>HTML</b> content. 
									It's very <code>engaging</code>. Right?" data-placement="bottom" ><i class="pull-right flaticon-info"></i></a> 
									</p>
								<div class="form-group m-form__group">
									<input class="form-control m-input m-login__form-input--last" type="password" placeholder="Confirm Password" name="rpassword" title="Re enter password">
								</div> -->
								<div class="row form-group m-form__group m-login__form-sub">
									<div class="col m--align-left">
										<label class="m-checkbox m-checkbox--light">
											<input type="checkbox" name="agree" title="Accept terms">I Agree the <a href="#" onclick="termsCondition();" class="m-link m-link--focus">terms and conditions</a>.
											<span></span>
										</label>
										<span class="m-form__help"></span>
									</div>
								</div>
								<div class="m-login__form-action">
									<button id="m_login_signup_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-bt--air  m-login__btn">Buy plan</button>&nbsp;&nbsp;
									<button id="m_login_signup_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom m-login__btn">Cancel</button>
								</div>
							</form>
							<form class="m-login__form m-form password_set" action="">
								 <div class="form-group m-form__group">
									<div class="m-input-icon m-input-icon--right">
<!-- 										<input class="form-control m-input" type="password" placeholder="Password" name="password" id="register_password" title="Enter valid password" data-toggle="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&#])[A-Za-z\d@$!%*?&#]{8,}$"   >
 -->									<input class="form-control m-input" type="password" placeholder="Password" name="password" id="register_password" title="Enter valid password" data-toggle="password" min="8" autocomplete="off">
 	
 										<span class="m-input-icon__icon m-input-icon__icon--right"><span><i class="fa fa-eye toggle-password-signup" toggle="#register_password"></i></span></span>
									</div>
								</div>
								<!-- <p><a class="pop-me-over"data-container="body" data-toggle="m-tooltip" title="<p>Password should be minimum<strong><i>8<i><strong>characters with atleast <strong><i>one capital letter,special chracter and a number<i></strong></p>" data-html="true" data-content="And here's some amazing <b>HTML</b> content. It's very <code>engaging</code>. Right?" data-placement="bottom" ><i class="pull-right flaticon-info"></i></a> 
									</p> -->
									<p><a class="pop-me-over" data-container="body" data-toggle="m-tooltip" title="" data-html="true" data-content="And here's some amazing <b>HTML</b> content. It's very <code>engaging</code>. Right?" data-placement="bottom" data-original-title="<p>Password should be minimum<strong><i>8<i><strong>characters<i></strong></p>"><i class="pull-right flaticon-info"></i></a> 
									</p>
								<div class="form-group m-form__group">
									<input class="form-control m-input m-login__form-input--last" type="password" placeholder="Confirm Password" name="rpassword" title="Re enter password" autocomplete="off">
								</div> 
								
								<div class="m-login__form-action sign_up_actions">
									<button class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m_login_signup_submit_1">Sign up</button>&nbsp;&nbsp;
									<!-- <button id="m_login_signup_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom m-login__btn">Cancel</button> -->
								</div>
								<div class="m-login__form-action forget_password_actions" style="display:none">
									<button id="reset_actions" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m_login_signup_submit_1">Reset</button>&nbsp;&nbsp;
									<button class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m_login_forget_password_cancel">Cancel</button>&nbsp;&nbsp;
								</div>
							</form>
						</div>
						<div class="m-login__forget-password">
							<div class="m-login__head">
								<h3 class="m-login__title">Forgotten Password ?</h3>
								<!-- <div class="m-login__desc">Enter your Mobile Number to reset your password:</div> -->
								<!-- <div class="m-login__desc"></div> -->
								
							</div>
							<form class="m-login__form m-form password_form" action="">
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="number" maxlength="10" pattern="[0-9]{10}" title="Please enter 10 Digits mobile number" name="mobile" id="m_mobile" autocomplete="off" placeholder="mobile number" oninput="this.value=this.value.slice(0,this.maxLength)" autofocus="">
								</div>
								<div class="m-login__form-action">
									<button id="m_login_forget_password_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">Request</button>&nbsp;&nbsp;
									<button class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom  m-login__btn m_login_forget_password_cancel">Cancel</button>
								</div>
							</form>
						</div>
						
						<div class="m-login__account" style="display: none;">
							<span class="m-login__account-msg">
								Don't have an account yet ?
							</span>&nbsp;&nbsp;
							<!--<a href="javascript:;" id="m_login_signup" class="m-link m-link--light m-login__account-link" onclick="clientRegister();">Sign Up</a> -->	
							<a href="javascript:;" id="m_login_signup" class="m-link m-link--light m-login__account-link">Sign Up</a>
							<span class="m-login__account-msg">
								Or
							</span><br>
							<a href="javascript:;" id="m_guest_login" class="m-link m-link--light m-login__account-link">Guest Login</a>
 						</div>
 							<div class="m-portlet__body m-portlet__body--no-padding" style="" id="prices-list">
								<div class="m-pricing-table-2">
									<div class="m-pricing-table-2__head pt-0" style="background-color:#282B3C">
										<div class="m-pricing-table-2__title m--font-light">
											<h1>Select Plan</h1>
										</div>
										<div class="btn-group nav m-btn-group m-btn-group--pill m-btn-group--air" role="group">
											<button type="button" class="btn m-btn--pill  active m-btn--wide m-btn--uppercase m-btn--bolder" id="plan_1" data-toggle="tab" href="#m-pricing-table_content1" role="tab" aria-expanded="true">
												Monthly Plans
											</button>
											<button type="button" class="btn m-btn--pill  m-btn--wide m-btn--uppercase m-btn--bolder" id="plan_2" data-toggle="tab" href="#m-pricing-table_content2" role="tab" aria-expanded="false">
												Annual Plans
											</button>
										</div>
									</div>
									<div class="tab-content">
										<div class="tab-pane active" id="m-pricing-table_content1" aria-expanded="true">
											<div class="m-pricing-table-2__content" style="margin: -90px;">
												<div class="m-pricing-table-2__container" style="margin-bottom: 20px;">
													<div class="m-pricing-table-2__items row">
														<div class="m-pricing-table-2__item col-lg-4">
															<div class="m-pricing-table-2__visual">
																<div class="m-pricing-table-2__hexagon"></div>
																<span class="m-pricing-table-2__icon m--font-info"><i class="fa flaticon-confetti"></i></span>
															</div>
															<h2 class="m-pricing-table-2__subtitle">Basic</h2>
															<div class="m-pricing-table-2__features" style="height: 88px;">
																<span>Service</span>
																<span>Full Access</span>
																<span>No SMS Credits</span>
																<!-- <span>Free Assets</span> -->
															</div>
															<span class="m-pricing-table-2__price">50</span>
															<span class="m-pricing-table-2__label">₨</span>
															<div style="margin-bottom: 6px;">
																<button type="button" class="purchase_value btn m-btn--pill  btn-info m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg" value="50" name="Monthly Plan-Basic" id="0">Purchase</button>
															</div>
														</div>
														<div class="m-pricing-table-2__item col-lg-4">
															<div class="m-pricing-table-2__visual">
																<div class="m-pricing-table-2__hexagon"></div>
																<span class="m-pricing-table-2__icon m--font-info"><i class="fa  flaticon-rocket"></i></span>
															</div>
															<h2 class="m-pricing-table-2__subtitle" id="plan-deccription">Standard</h2>
															<div class="m-pricing-table-2__features" style="height: 17%;">
																<span>Service</span>
																<span>Full Access</span>
																<span>300 SMS Credits per Month</span>
																<!-- <span>100 rs</span> -->
															</div>
															<span class="m-pricing-table-2__price">100</span>
															<span class="m-pricing-table-2__label">₨</span>
															<div style="margin-bottom: 6px;">
																<button type="button" class="purchase_value btn m-btn--pill  btn-info m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg" value="100" name="Monthly Plan-Standard" id="1">Purchase</button>
															</div>
														</div>
														<div class="m-pricing-table-2__item col-lg-4">
															<div class="m-pricing-table-2__visual">
																<div class="m-pricing-table-2__hexagon"></div>
																<span class="m-pricing-table-2__icon m--font-info"><i class="fa flaticon-gift"></i></span>
															</div>
															<h2 class="m-pricing-table-2__subtitle">Premium</h2>
															<div class="m-pricing-table-2__features" style="height: 17%;">
																<span>Service</span>
																<span>Full Access</span>
																<span>600 SMS Credits per Month</span>
																<!-- <span>Free Assets</span> -->
															</div>
															<span class="m-pricing-table-2__price">150 </span>
															<span class="m-pricing-table-2__label">₨</span>
															<div>
																<button type="button" class="purchase_value btn m-btn--pill  btn-info m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg" value="150" name="Monthly Plan-Premium" id="2">Purchase</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane" id="m-pricing-table_content2" aria-expanded="false">
											<div class="m-pricing-table-2__content" style="margin: -90px;">
												<div class="m-pricing-table-2__container" style="margin-bottom: 20px;">
													<div class="m-pricing-table-2__items row">
														<div class="m-pricing-table-2__item col-lg-4">
															<div class="m-pricing-table-2__visual">
																<div class="m-pricing-table-2__hexagon"></div>
																<span class="m-pricing-table-2__icon m--font-info"><i class="fa flaticon-confetti"></i></span>
															</div>
															<h2 class="m-pricing-table-2__subtitle">Basic</h2>
															<div class="m-pricing-table-2__features" style="height: 88px;">
																<span>Service</span>
																<span>Full Access</span>
																<span>No SMS Credits</span>
																<!-- <span>Free Assets</span> -->
															</div>
															<span class="m-pricing-table-2__price">500</span>
															<span class="m-pricing-table-2__label">₨</span>
															<div style="margin-bottom: 6px;">
																<button type="button" class="purchase_value btn m-btn--pill  btn-info m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg" value="500" name="Annual Plan-Basic" id="3">Purchase</button>
															</div>
														</div>
														<div class="m-pricing-table-2__item col-lg-4">
															<div class="m-pricing-table-2__visual">
																<div class="m-pricing-table-2__hexagon"></div>
																<span class="m-pricing-table-2__icon m--font-info"><i class="fa  flaticon-rocket"></i></span>
															</div>
															<h2 class="m-pricing-table-2__subtitle">Standard</h2>
															<div class="m-pricing-table-2__features" style="height: 17%;">
																<span>Service</span>
																<span>Full Access</span>
																<span>300 SMS Credits per Month</span>
																<!-- <span>Free Assets</span> -->
															</div>
															<span class="m-pricing-table-2__price">1100</span>
															<span class="m-pricing-table-2__label">₨</span>
															<div style="margin-bottom: 6px;">
																<button type="button" class="purchase_value btn m-btn--pill  btn-info m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg" value="1100" name="Annual Plan-Standard" id="4">Purchase</button>
															</div>
														</div>
														<div class="m-pricing-table-2__item col-lg-4">
															<div class="m-pricing-table-2__visual">
																<div class="m-pricing-table-2__hexagon"></div>
																<span class="m-pricing-table-2__icon m--font-info"><i class="fa flaticon-gift"></i></span>
															</div>
															<h2 class="m-pricing-table-2__subtitle">Premium</h2>
															<div class="m-pricing-table-2__features" style="height: 17%;">
																<span>Service</span>
																<span>Full Access</span>
																<span>600 SMS Credits per Month</span>
																<!-- <span>Free Assets</span> -->
															</div>
															<span class="m-pricing-table-2__price">1700</span>
															<span class="m-pricing-table-2__label">₨</span>
															<div>
																<button type="button" class="purchase_value btn m-btn--pill  btn-info m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg" value="1700" name="Annual Plan-Premium" id="5">Purchase</button>
															</div>
														</div>
													</div>
												</div>	
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>