	<div class="main ">
		
		<div class="m-portlet m-portlet--last m-portlet--head-lg m-portlet--responsive-mobile m-portlet--head-solid-bg " id="main_portlet" style="padding: 5px">
				
				<div class="header_stick" style="background-color: white;z-index:10;">
   
				<div class="m-portlet__head" style="padding: 0px;margin: 0px;">
					<div class="m-portlet__head-progress">
											<!-- here can place a progress bar-->
					</div>
					<div class="m-portlet__head-wrapper">
						<div class="m-portlet__head-caption hiddencontent " style="width: 100%">
							<div class="m-portlet__head-title" style="width: 50%">
								<a href="#" onclick="loadHome(this.href)" class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only" style="margin-right: 15px">
									<i class="la la-home"></i>
								</a>		
								<h3 class="m-portlet__head-text">
									View Stock
								</h3>
							</div>
							<div class="dropdown dropright " align="right" style="width: 50%;padding-right: 1px;">
								<button class="btn btn--sm m-btn--pill btn-secondary m-btn--label-brand" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Sort By <i class ="la la-sort"></i>
								</button>
								<div class="dropdown-menu width-changes" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);z-index:20">
									<a class="dropdown-item" href="#" data-toggle="m-tooltip" title="" data-placement="right" data-skin="dark" data-container="body" id="viewStock_1" onclick ="AtoZ(this);">
										<i class="m-nav__link-icon fa fa-arrow-down"></i>
											<span class="m-nav__link-text">Item (A to Z)</span>
									</a>
									<a class="dropdown-item" href="#" data-toggle="m-tooltip" title="" data-placement="right" data-skin="dark" data-container="body" id="viewStock_2" onclick ="ZtoA(this);">
										<i class="m-nav__link-icon fa fa-arrow-up"></i>
											<span class="m-nav__link-text">Item (Z to A)</span>
									</a>									
									<a class="dropdown-item" href="#" data-toggle="m-tooltip" title="" data-placement="right" data-skin="dark" data-container="body" id="viewStock_3" onclick ="quantityLowToHigh(this);">
										<i class="m-nav__link-icon fa fa-arrow-down"></i>
											<span class="m-nav__link-text">Quantity (Low to High)</span>
									</a>
									<a class="dropdown-item" href="#" data-toggle="m-tooltip" title="" data-placement="right" data-skin="dark" data-container="body" id="viewStock_4" onclick ="quantityHighToLow(this)">
										<i class="m-nav__link-icon fa fa-arrow-up"></i>
											<span class="m-nav__link-text">Quantity (High to Low)</span>
									</a>
						<!-- 			<a class="dropdown-item" href="#" data-toggle="m-tooltip" title="" data-placement="right" data-skin="dark" data-container="body" id="viewStock_5" onclick ="priceLowToHigh(this)">
										<i class="m-nav__link-icon fa fa-arrow-down"></i>
											<span class="m-nav__link-text">Price (Low to High)</span>
									</a>
									<a class="dropdown-item" href="#" data-toggle="m-tooltip" title="" data-placement="right" data-skin="dark" data-container="body" id="viewStock_6" onclick ="priceHighToLow(this)">
										<i class="m-nav__link-icon fa fa-arrow-up"></i>
											<span class="m-nav__link-text">Price (High to Low)</span>
									</a> -->
									</div>
								</div>
						</div>
						
						
						<div class="m-portlet__head-tools" style="padding: 0px;margin: 0px;width: 100%;display: block;" align="right">
							
							<!-- <div align="right"  style="width:90%;" >
								<input type="text" class="form-control m-input" id="myInput" placeholder="Search" onkeyup="filter(this)">
								<div class="m-input-icon m-input-icon--right view_stock">
								  <input type="text" class="form-control m-input for_auto_complete focuschange" id="myInput" spellcheck="false" placeholder="Search" onkeyup ="forClosing()" autocomplete="off"> 
								  <span class="m-input-icon__icon m-input-icon__icon--right " ><span><i class="close_action la" style="color: #716aca;"></i></span></span>
								</div>
							</div>	
							<div align="right" style="width:10%;">
							<a href="#" class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only" data-toggle="modal" data-target="#m_modal_5" style="height:40px">
								<i class="la la-filter"></i>
							</a>
						</div> -->
						<div class="m-portlet__head-tools mt-lg-4" style="padding: 0px;margin: 0px;width: 100%;margin-bottom:-4px" align="right">
						
						<div align="right" style="width:90%;">
						<div class="m-input-icon m-input-icon--right">
							<input type="text" class="form-control m-input for_auto_complete" id="myInput" placeholder="Search" onkeyup="forClosing()" autocomplete="off" spellcheck="false">
							<span class="m-input-icon__icon m-input-icon__icon--right "><span><i class="close_action la" style="color: #716aca;"></i></span></span>
<!-- 							<span class="m-input-icon__icon m-input-icon__icon--right "><span  onclick="scan()" class="barcode"><i class ="la la-barcode fa-2x" style="color: black;"></i></span></span>
 -->										</div>
						</div>
						<div align="right" style="width:10%;">
							 <a href="#" class="btn  btn-brand m-btn m-btn--icon m-btn--icon-only" data-toggle="modal"  style="height:40px" onclick="saveExcel()">
								<i class="la fa-2x la-download"></i>
							</a> 
							
							
							
							
							
							
						</div>	
					</div>
						</div> 
																	
				</div>
			       </div>                               
			  </div>			
			<div class="m-portlet__body" style="padding:0px;margin: 0px; margin-bottom:-4px;margin-right: 7px;"id="view_body">
				<form class="m-form m-form--label-align-left- m-form--state-" id="m_form" style="background-color: white;">
					<div class="m-portlet__body" style="padding : 0px;">
						<div class="tab-content">
							<div class="tab-pane active" id="m_widget5_tab1_content" aria-expanded="true">
				  				<div class="  m-widget5 view_widget mt-sm-2" id="list" align="left" style= "margin-bottom:-22px;">
								
								</div>
								<div id="paginationLoader" class="m-loader m-loader--brand paginationLoader" style="display:none"></div> 
							</div>
						</div>
					</div>
				</form>				
			</div>
		</div>
		
	</div>			