.highlightBackground{
	    background-color: LightGray;
}
.touch .scrollbar {
overflow-x: hidden;
overflow-y: scroll;
-ms-overflow-style: -ms-autohiding-scrollbar;
-webkit-overflow-scrolling: touch;
}
#info{
	text-decoration:none;
}
#content{
	background-color:white;
}

.autocomplete-items{
            max-height: 200px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
            /* add padding to account for vertical scrollbar */
            /*padding-right: 20px;*/
        } 
.main{
	width:100%; /*Takes 90% width from WebContainer*/
    height: auto;
    /*margin: auto;*/
}
.quatity_alert{
	border: 1px solid red;
}
.quatity_normal{
	border: 1px solid #ced4da;;
}
.form_control_5{
	display: block;
    width: 100%;
    height: calc(2.95rem + 2px);
    padding: .85rem 1.15rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
}

.form_control_1{
	
	font-family: sans-serif, Arial;
    border-radius: 0;
    border-radius: .25rem;
}
.sticky_content {
  
  position:fixed;
  transition: padding 400ms ease;
 /* top: 1px;*/
  width: 100%;
  margin-top:-4.6px;
  margin-left: -4.8px;
  padding-right: 2px;
  padding-left: 2px;
  
}

/*.sticky_content {
  
  position:fixed;
  transition: padding 400ms ease;
 /* top: 1px;*/
/*  width: 100%;
  margin-top:-5px;
  margin-left: -4.8px;
  padding-right: 2px;
  padding-left: 2px;
  
}*/
.sticky_content1 {
  
  text-align: center;
  transition: padding 1000ms ease;
 /* top: 1px;*/
  width: 100%;
  margin-top:-4.6px;
  margin-left: -4.8px;
  padding-right: 2px;
  padding-left: 2px;
  
}

.style_name{
	 left: '250px';
      opacity: '0.5';
      height: '150px';
      width: '150px';
}



tr.group,
tr.group-end{
    background-color: red !important;
}
 .main_1{
	overflow:hidden;
	height:auto;
	width:auto;
}
 
.title_content {
  
  position:fixed;
  transition: padding 400ms ease;
 /* top: 1px;
  width: 100%;
  margin-top:-4.6px;
  margin-left: -4.8px;
  padding-right: 2px;
  padding-left: 2px;*/
  text-align: right;
  
}

.title_style{
	text-align:center;
	color:#00ff00;
	/*transition: padding 400ms ease;*/
}

.stiky_final{
	position:absolute;
}

.sticky_content222{
	z-index:100;
	position:fixed;
  transition: padding 400ms ease;
 /* top: 1px;*/
  width: 100%;
  margin-top:-4.6px;
  margin-left: -4.8px;
  padding-right: 2px;
  padding-left: 2px;
}

.css_final {
	display:none;

}


#mdb-preloader.loaded {
  opacity: 0;
  transition: .3s ease-in 1s;
}

.scroll-menu{
	overflow: auto;	
}


.pulsing {
	width: 99%;
	height: 99%;
	border-radius: 50px;
	z-index: 1;
	position: relative;
	animation: pulsing 2.5s linear infinite;

	/* &:before,
	&:after {
		width: 100%;
		height: 100%;
		border: inherit;
		top: 0;
		left: 0;
		z-index: 0;
		background: #fff;
		border-radius: inherit;
		animation: pulsing 2.5s linear infinite;
	}
	&:after {
		animation: pulsing1 2.5s linear infinite;
	} */
}

@keyframes pulsing {
	0% {
		opacity: 1;
		transform: scaleY(1) scaleX(1);
	}
	20% {
		opacity: 0.5;
	}
	80% {
		opacity: 0.2;
		transform: scaleY(1.9) scaleX(1.5);
	}
	/* 80% {
		opacity: 0;
		transform: scaleY(1.8) scaleX(1.4);
	}
	90% {
		opacity: 0;
		transform: scaleY(1) scaleX(1);
	} */
}

	.on_items_content{
		width:30%;	
	}

 @media only screen and (max-width: 468px) {
	.content_show{
		height:auto;
		backround-color:red;
	}
	#menu_page{
		position:fixed;
		width:100%;
	}
	.content_show{
		padding: 5px;
	  	bottom: 0px;
	   	left: 0px;
	  	right: 0px;
	  	position: absolute;
	  	top: 173px;
	}
	
	.width_changes_1{
		width: 52%;
   		margin-left: 130px;
	}
	.footer_display{
		display:none;
	}
	/* .datepicker{
	width:50%;
	} */
	
	.header_stick{
		position: fixed;
   		width: 98%;
    	margin-top: -5px;
	}
	.view_widget{
		padding-top: 108px;
	}
	 .list_margin{
		margin-top: 112px;
	} 
	.list_margin_1{
		margin-top: 162px;
	}
	.manage_widget{
		padding-top: 48px;
	}
	.purchase_widget{
		padding-top: 152px;
	}
	.transaction_widget{
		padding-top: 88px;
	}
	.tap_position{
		 padding-top: 88px; 
		/* margin-top: 97px; */
	}
	.centered {
 
   top: 70%;
  left: 50%; 
  //margin-top:60px;
}
	
} 
.m-widget5__number{
		font-size: 15px;
	}
@media only screen and (max-width: 600px) {
	
	.style_for_quantity{
	margin-right: -10px;margin-top: -15px;margin-bottom: -30px;
	}
}

@media only screen and (max-width:400px) {
	
	.m-widget5__number{
		font-size: 15px;
	}
}


 @media only screen and (orientation: landscape) {
 #menu_page{
		 position:relative;
	}
} 
/* .dropdown-menu{
	 width:40% ; 
	margin-left:5px;
	position:absolute;
} */

.width-changes{
	width:auto;
}
.datepicker {
    width: 50%;
    
}
.model-fixed{
	position:fixed;
}

#color-change.disabled {
  
  pointer-events: none;
  cursor: default;
}
/* #plan_1.active{
	background: #9816f4;
    color: #fff;
}

#plan_2.active{
	background: #9816f4;
    color: #fff;
}
 */
/* .fa-check-circle{
	 width: 100px;
    height: 100px;
} */



.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 20; 
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  text-align:left;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

#index {
    position:fixed;
    top:0px;
    right:0px;
     width:10px; 
   /*  background:rgba(0,0,0,0.1); */
    margin-top: 145px;
    background:#ebedf200;
}

.filter{
	font-size:10px;
}

.ui-page { -webkit-backface-visibility: hidden; }

.plan_update{
	margin-top: -40px;
    margin-bottom: 50px;
}

 .width_changes{
	width:46%;	
}

/* .width_changes_1{
	width: 52%;
    margin-left: 130px;
} */

/* .style_for_quantity{
	margin-right: -10px;margin-top: 9px;margin-bottom: -21px;
} */
.gg{
	padding-bottom: 15px;
}

.only_qty{
	
	width: 52%;
    margin-left: 130px;
}

#loading{
			display:none;
			width: 100%;
			padding:5px 10px;
			position: fixed;
			bottom: 0;
			left: 0;
			text-align: center;
			color:white;
			background: rgba(0,0,23,0.71);
			box-shadow: 0 0 10px black;	
		}

.paginationLoader{
	display: inline-flex;
    position: absolute;
    left: 50%;
    z-index: 1000;
    width: 31px;
    
}
.pagination_loader_adjust{
	top:50%;
}


.manage_serach{
	
	width: 102%;
    padding-top: 5px;
    margin-right: -22px;
	
}

.customer_search{
	width: 83%;
    padding-top: 5px;
}
}


 /* body.modal-open {
    overflow: hidden;
}  */
/* body.modal-close {
    overflow: auto;
}
.modal-open{
	 all: unset;
}
 */
 
 .show_1{
 position: fixed;
 }
 .show{
 	
 }