//desktop styles

 
	 
	.customer_page{
		margin-right: 30px;
   		margin-top: 45px;
	} 
	.customer_buttons{
		margin-right:200%;
	}
	.customer_quantity_align{
		margin-right: -83px;
    	width: 400px;
   		margin-top: 30px;
	}
	
	.three_buttons{
		width: 100%;
    	margin-top: -4px;
	}
	.view_stock{
	
	margin-top: 23px;
	margin-right:80px;
	} 

	.width_ch{
		padding-top: 15px;
	}
	
	.desktop_width{
		margin-left: -20px;
    	width: 45%;
	}
	.onhand_items{
		width:30%;
	}
	.stock_value{
		margin-left: 59px;
	}
	
	